[2013-04-17 23:59] winstliu opened #1 "A few bugs"
Using 1.06h here while we wait for the final beta bugs to go away.
As our server used to be be VSH, "boss" and Hale are used interchangeably.

<del>1) Seeldier can still spawn minions after dying (think you know about that already).</del>-Fixed in 1.07
**2) BGM will sometimes continue playing into the next round if Hale suicides as soon as the round starts.**
<del>3) There will sometimes be extend

[2013-05-10 01:33] winstliu opened #4 "A few suggestions"
1) Allow Ambassador to highlight Hale on headshot-I think I got this down, just need to test it.
2) Add auto-updating capabilities.
3) As mentioned before, increase Mantreads damage by 5x to ~1000.
4) Probably more, but I'm tired and forgetful.

Also, feel free to take a look [here](https://github.com/50DKP/FF2) and see if you'd like to add anything :)

[2013-06-03 20:36] 50Wliu opened #5 "Suggestion: Move the changelog to an external file"
Moving the changelog to an external file would allow easier editing of versions (right now, you have to scroll down to near the middle of the file to edit the changelog).  Server owners who have no knowledge of coding could also easily write up a changelog now for new bosses, etc.  It could be something like:

*data/freak_fortress_2/ff2_changelog.txt*

[code]

* [x] Add functions for parsing the c

[2013-06-19 20:31] winstliu opened #6 "The Boss Team bug"
I THINK I MIGHT HAVE PINPOINTED IT, READ THE EDITS SECTION.

As documented in the 1.07 beta thread, players can not join Blue, thus resulting in an endless-win loop for Red.

As we're running a custom version, I haven't merged over all the changes, so I can give you a narrower place to look:

part of 4606228fb2c278010c3a757c1347e543aff04fc0
c90e9e3de8bff8d1bba8800f62e087c6d7599a0b <del>(major susp

[2013-07-20 12:03] winstliu opened #7 "Weapon balancing part needs a re-write"
Since the PRESERVE_ATTRIBUTES flag is gone, FF2 _should_ crash on new TF2Item versions.  We also need to add the reverse attributes <.<

[2013-07-20 18:04] #7 closed, assigned to nobody

[2014-01-13 22:23] #1 closed, assigned to nobody

[2014-01-13 22:23] #4 closed, assigned to nobody

[2014-01-13 22:24] #6 closed, assigned to nobody

[2014-01-13 22:27] winstliu opened #11 "Easter Abilities crashing server on mapchange"
Once enabled, `easter_abilities.ff2` will crash the server on every mapchange, even if there's no boss that relies on it.

[2014-01-13 22:30] winstliu opened #12 "Bosses will not regenerate correctly after class switch"
Upon class switch, bosses will not respawn with weapons (civilian mode).

[2014-01-13 22:31] winstliu opened #13 "BGM loops if boss suicides"
If the boss has a BGM and suicides once the round starts, FF2 will not be able to stop the BGM for whatever playing, and it'll just keep looping, even if another BGM starts.

[2014-01-13 22:33] winstliu opened #14 "Bosses will have mixed wearables"
Bosses will (apparently) have mixed wearables, eg a red shirt and blue pants.  NOT CONFIRMED.

[2014-01-13 22:37] winstliu opened #15 "Ability cooldown not resetting"
Between rounds, the ability cooldown will not reset.

Example:
-HHH uses teleport ability (45 secs cooldown), and then wins immediately.
-Next boss will have a ~40 second cooldown on their ability, even if it is normally 5 secs.

[2014-01-13 22:39] winstliu opened #16 "Boss will have 1 health instead of dying"
After a backstab or environmental damage, the boss will often have 1 health left instead of being killed outright.

[2014-01-14 02:32] winstliu opened #17 "Boss HUD text missing"
On round start, the HUD text displaying who the boss is with its amount of health, etc. is not shown.

[2014-01-15 02:54] winstliu opened #18 "Boss crits not disabling"
Boss crits will occasionally not disable when `ff2_crits` is set to 0.

Preferred fix:  Remove `TF2_OnCalcIsAttackCritical` logic and add `DMG_CRIT` logic in `OnTakeDamage` and/or make FF2 append the nocrit attribute to the end of the attribute string.

[2014-01-30 02:22] #18 closed, assigned to winstliu

[2014-02-05 20:16] #12 closed, assigned to winstliu

[2014-02-05 20:17] #14 closed, assigned to nobody

[2014-02-08 19:46] #17 closed, assigned to winstliu

[2014-02-10 22:54] winstliu opened #20 "Certain wearables not being removed"
See:  Botkillers.

[2014-02-26 21:11] winstliu opened #22 "Players will have no weapon after being the boss"
Can't confirm, but it seems that everybody is having this issue.
Scheduled for Beta 9-4.

[2014-02-26 21:14] winstliu opened #23 "Move weapon handling to an external file"
This was planned a long time ago but apparently nobody had time to do it.
File should be something like ~~`ff2_weapons.txt`~~ `weapons.cfg` in `addons/sourcemod/configs/freak_fortress_2/`.
- [x] Implement `"By Classname"`
  - [ ] Implement `"name`"  (this will allow us to filter out weapons we don't want to match)
    - [ ] Possibly get rid of this and create `include`/`exclude` keys instead?
- [x

[2014-02-26 22:02] #20 closed, assigned to winstliu

[2014-02-27 23:27] #11 closed, assigned to winstliu

[2014-03-05 01:56] winstliu opened #24 "Subplugins not being disabled on mapchange"
Instead, they're disabled right after the mapchange, then usually re-enabled a few seconds after that as soon as people join.  If they were disabled correctly, then I wouldn't have had to go through all that Easter Abilities trouble <.<.

Not sure if I can fix it since I can't find an alternate method to `ServerCommand()`.

[2014-03-06 21:58] #22 closed, assigned to winstliu

[2014-03-14 00:06] winstliu opened #25 "Require SM 1.6.1"
- [x] Remove hacky workarounds in OnTakeDamage
- [x] Rely on Sourcemod's version of `TF2_RemoveWearable`
- [x] Remove `TF2_RemoveWeaponSlot2`/`TF2_RemoveAllWeapons2`
- [x] Take advantage of `"..."` concatenation for defines (#107)

[2014-03-18 21:23] #24 closed, assigned to winstliu

[2014-03-27 01:31] WildCard65 opened #26 "take advantage of goomba plugin's forward before a stomp"
The Goomba plugin has this forward that is called before a stomp happens, why not take advantage of it to override the convar settings with new damage values that'll make it balanced for ff2.

[2014-03-28 11:01] #26 closed, assigned to nobody

[2014-03-28 11:02] WildCard65 opened #31 "RTD needs to be balanced with ff2."
RTD plugin without a subplugin for rtd can be unbalanced with ff2.

[2014-03-28 23:56] WildCard65 opened #33 "Investigate more into if mantreads attribute is broken or not."
Ya while I was playing around with the goomba support I added, stomping ppl with the weight down, I noticed a few of the kills(after super jumping and landing in a kick like position) the kill icon was a boot.

[2014-03-29 00:27] #31 closed, assigned to nobody

[2014-03-29 23:27] #13 closed, assigned to winstliu

[2014-03-30 19:34] WildCard65 opened #34 "Have bosses cached"
Atm currently in ff2, bosses are not cached which can have performance issues(which may be reason why on my server I get lag between rounds especially with bots)

[2014-03-31 01:05] #15 closed, assigned to winstliu

[2014-04-02 23:06] winstliu opened #35 "Properly disable FF2"
Apparently FF2 is not getting properly disabled when people want it to, so we kinda need to fix that...

[2014-04-05 12:01] GIANTCRAB opened #36 "Damage done doesn't give points"
Hi,

If you type !ff2next you will see that you are only given points for finishing rounds and it excludes damage done.

It says "you have done xxxx damage and it gives you x points" but in actual fact, the points aren't added.

[2014-04-07 04:15] GIANTCRAB opened #37 "Sentries are sometimes disable permanently"
Hello,

It seems like when the sentry guns are "scared" via rage, sometimes, they are disable permanently.
Even after picking it up and then deploying it again, it remains disabled.

The only way to get it working again is to destroy the sentry and rebuild it again.

[2014-04-07 13:28] #37 closed, assigned to nobody

[2014-04-07 20:06] winstliu opened #38 "Add an Updater cvar"
So I don't keep forgetting.

[2014-04-08 05:21] GIANTCRAB opened #39 "Player join ignores point rule"
Hello,

Whenever a new player joins the server, he becomes the next hale despite other players having more points than him.

EG:

Ali, Alpha and Beta are playing in the server.
Ali, who has 200 points, was going to be the next hale but then Charlie joins the server.
Charlie then becomes the next hale.

I'm using the SQL version of clientprefs, just saying because it might have affected this.
Lates

[2014-04-08 07:42] GIANTCRAB opened #40 "Allow choosing of bosses"
Hello,

I feel that this feature could be added in 2.0 for FF2.
If the player chooses the boss he/she wants, his/her boss will have lower HP (adjustable via ff2 .cfg file) than having a random boss.

Thank you.

[2014-04-09 00:01] #33 closed, assigned to nobody

[2014-04-11 15:32] WildCard65 opened #41 "Tweak smac_cvars support."
Atm, ff2 checks for the smac library + the existence of the smac_cvars.smx file and then issues the commands to add and remove cvars but what if we just take advantage of this useful forward from smac.inc:

[code]

And we check if type equals

[code]

and if it does, we check if the cvar in detection matches any that ff2 proxy fakes and check if the value matches the value we proxy it at and if a

[2014-04-11 22:41] #38 closed, assigned to winstliu

[2014-04-19 13:00] GIANTCRAB opened #43 "Sometimes, last player is invisible to the boss"
Hello,

The players on my server are experiencing this issue with the 1.10 beta.

Occasionally, the last player is not visible (glow is enabled but totally no player model nor can they see the glow) to the boss but other players could see the last player clearly.

Thank you.

[2014-04-19 13:01] GIANTCRAB opened #44 "Sometimes, bosses are invisible to some players"
Hello,

Some of the players on my servers experience this issue occasionally (maybe late precache?).

Other players can see the boss clearly and normally while some of them can't see the model.

Latest 1.10 beta.

Thank you.

EDIT: Issue seems similar to #43

[2014-04-22 21:28] #35 closed, assigned to winstliu

[2014-04-22 23:55] winstliu opened #45 "Rewrite queue points system"
I'd like to entirely rewrite queue points for 2.0.0.
Ideally, this rewrite should:
- [ ] Be contained in its own subplugin (`ff2_queue_points`)
- [ ] Have a linear (legacy) mode that operates as it does currently
- [ ] Have a non-linear mode that should take into account the amount of damage the player does (see #36)
- [ ] Have a totally random mode
- [ ] Cvars and lots of configurability for the

[2014-04-23 00:52] #36 closed, assigned to winstliu

[2014-04-23 00:53] #44 closed, assigned to nobody

[2014-04-23 01:20] WildCard65 opened #46 "Tweak to ff2 companion system."
I just recently chatted with the server owner of the disc fire-friendly ff2 servers on why he no uses duo bosses and he said because if someone no wants to be hale's companion, they would suicide and loose their turn. Now one of the ideas he suggested(mixing another one into this) is to check if partner dies and then punish said person for suiciding by minusing say like 50 queue points from him/he

[2014-04-23 12:40] #43 closed, assigned to nobody

[2014-04-23 17:06] WildCard65 opened #47 "2 missing missing #if defined"
I just noticed in ff2 that 2 `#if defined`'s are missing which is causing compile issues for ppl that don't got updater or smac.
Also I recommend making `#include <smac>` into `#tryinclude <smac>` and moving it under `#undef REQUIRE_PLUGINS`

[2014-04-23 21:17] #47 closed, assigned to winstliu

[2014-04-23 21:23] winstliu opened #48 "Remove angle restriction from abiliites"
Currently, bosses must be looking up in order to use any ability.  This is presumably because of the superjump ability.

Eggman would like this removed so that you could use abilities without looking up, which would add interesting new concepts (firing a laser beam where you aim, etc.).

The angle restriction would have to be removed and then hardcoded into the superjump ability.

[2014-04-25 05:15] Selena-Gomez opened #49 "Inconsistent firing of countdown timer"
After a map change the countdown timer for when it's x_amount_players vs Hale will either work or not. It will continue to do only one of the two until the map changes, also ff2_countdown_health is set to 0 in the FreakFortress2.cfg.

[2014-04-27 02:02] GIANTCRAB opened #51 "Duos' health drop"
It seems like if one of the duos left the game at game start, the other duo's health will keep decreasing.

This needs to be fixed really quickly.

[2014-04-27 02:16] GIANTCRAB opened #52 "Duos teleportation"
There's a chance of you teleporting to the other duo. (fem spy & gentle spy)

[2014-04-29 01:12] #49 closed, assigned to nobody

[2014-04-29 11:33] GIANTCRAB opened #53 "special_noanims needs fixing"
Hello,

I have this code which is suppose to work:

But it isn't, and according to friagram, its because the sub plugin improperly sets ammo/clip - https://forums.alliedmods.net/showpost.php?p=2131032&postcount=2

Thank you.

[2014-04-30 00:07] #53 closed, assigned to nobody

[2014-04-30 00:26] #52 closed, assigned to winstliu

[2014-05-01 23:41] winstliu opened #54 "Rewrite ability/subplugin system"
Planned for 2.0.0.  Ideally:
- [x] configs will be much easier to understand
- [ ] angle restrictions on abilities will be removed
- [ ] weighdown will be reworked using a separate timer from the brave jump one
- [ ] a significant reorganization of the subplugins will take place
- [x] a subplugin (`ff2_external_integration.ff2`)will be devoted to 3rd-party integration (see #73, #32, #30)
- [x] the

[2014-05-02 01:49] #51 closed, assigned to winstliu

[2014-05-04 07:06] GIANTCRAB opened #55 "Damage done leaderboard shows incorrectly"
The top 3 players in the damage done leaderboard is displayed incorrectly. (shown at the end of every round)

Their names are cut off and the third person's name is repeated throughout the entire leaderboard.
![2014-05-04_00001](https://cloud.githubusercontent.com/assets/1075708/2872454/c419d4ce-d361-11e3-9a09-45ea29caff06.jpg)

[2014-05-04 07:55] GIANTCRAB opened #56 "Medic minion has medic gun"
All the medic minions will have a medic gun despite it being a "melee" minion summon.

Please fix this, thank you.

[2014-05-04 13:58] #56 closed, assigned to winstliu

[2014-05-04 14:07] #39 closed, assigned to winstliu

[2014-05-04 14:20] #55 closed, assigned to nobody

[2014-05-06 02:56] GIANTCRAB opened #57 "Multiple blue players"
**WliuEdit:  For the "new" bug, see https://github.com/50DKP/FF2-Official/issues/57#issuecomment-43027978**

These aren't clones, they are normal players that are NOT bosses.

They are SPAWNED with the bosses and aren't move back to RED team.

![2014-05-06_00004](https://cloud.githubusercontent.com/assets/1075708/2885638/d36c325a-d4c9-11e3-8f42-f9578f47363f.jpg)

![2014-05-06_00003](https://cloud.

[2014-05-07 15:49] WildCard65 opened #58 "URGENT: smac integration fix."
change README.MD for smac.inc:
In smac.inc, if you see:

[code]

find:

[code]

then add the following to the top of it(or above Detection_CvarViolation):

[code]

otherwise if you see:

[code]

find:

[code]

then add the following to the top of it(or above DetectionType_CvarNotEqual):

[code]

then save smac.inc with chances
Now for changes that need to be done for freak_fortress_2.sp:

[code]

[2014-05-08 00:53] winstliu opened #59 "Automatically change koth to arena logic"
As described [here](https://forums.alliedmods.net/showpost.php?p=2134812&postcount=4263).

This should get rid of the need for Stripper:Source.

[2014-05-09 14:49] GIANTCRAB opened #60 "Botkiller attachments"
People with bot killer weapons will have this when they are playing as hale.

![2014-05-09_00002](https://cloud.githubusercontent.com/assets/1075708/2929391/1471f390-d789-11e3-8cc2-66c5f425b78f.jpg)

Just a minor issue but can this be fixed?

[2014-05-09 14:54] GIANTCRAB opened #61 "Shields don't work sometimes"
Sometimes, demoman shields are nothing but for decorative purposes.

It might be due to the ec22069dc57e913c1c2c06afa851429742d19d65 again. (which caused #57)

[2014-05-09 15:15] GIANTCRAB opened #62 "No random crits don't work"
No random crits for hale somehow doesn't work.

The hale still occasionally gets random crits, is this some kind of TF2 bug?

[2014-05-09 15:29] GIANTCRAB opened #63 "Slowmo can cause hales to be stuck"
Ninjaspy's slowmo can cause him to be stuck if he goes into a place where crouching is needed.

Even when the slowmo is over, if he releases the crouch button when he is in places where crouching is needed, he will be stuck.

[2014-05-09 15:32] GIANTCRAB opened #64 "rtd timebomb damage not counted"
It seems like the timebomb explosion damage doesn't give the player damage recognition for their sacrifice.

Is this an issue with RTD or FF2?

[2014-05-09 19:17] #60 closed, assigned to nobody

[2014-05-09 20:53] #63 closed, assigned to nobody

[2014-05-10 01:38] GIANTCRAB opened #65 "Countdown CVARS ignored"
`ff2_countdown`, `ff2_countdown_players` and `ff2_countdown_health` CVARS set in sourcemod/FreakFortress2.cfg are being ignored, they do not have any effect.

The countdown will always be 2minutes, countdown players will always be 1, countdown health stops at 2k hp as well.

[2014-05-10 01:50] #62 closed, assigned to nobody

[2014-05-10 04:19] GIANTCRAB opened #66 "arg0 activation method is incorrect"
[code]

Number 4 is wrong as documented by existing documentation, its activated when someone (on any team) receives/takes damage either from fire or self-damage.

I'm wondering if this should be fixed or should the documentation be changed?

EDIT: Same goes for 5, but 5 is activated like every second?

[2014-05-11 15:41] #61 closed, assigned to nobody

[2014-05-12 14:40] GIANTCRAB opened #67 "Instant teleport doesn't work when there's a few players left"
Occasionally, instant teleportation does not work when there's only a few players left.

This bug doesn't happen all the time though, sometimes it works even when there's one player left.

Anyone else experiencing this too?

[2014-05-12 15:03] GIANTCRAB opened #68 "Latest git has broken map selection"
50Wilu pls -_-

[2014-05-12 15:04] #68 closed, assigned to nobody

[2014-05-12 15:27] #65 closed, assigned to winstliu

[2014-05-13 20:32] #67 closed, assigned to nobody

[2014-05-15 12:53] WildCard65 opened #69 "Revert the revert of crit disabling."
Instead of attribute 15 value 1, it's value should be 0.
See items_game.txt for cowmangler for attributes it has you see:
"crit mod disabled"
{
    "value"    "0"
}

[2014-05-15 23:31] WildCard65 opened #70 "Check if today's tf2 update broke ff2. URGENT"
It is 100% urgent to see what broke in ff2 with today's tf2 update.

[2014-05-16 14:08] #70 closed, assigned to nobody

[2014-05-19 23:01] #69 closed, assigned to nobody

[2014-05-19 23:43] #57 closed, assigned to winstliu

[2014-05-21 01:43] #48 closed, assigned to nobody

[2014-05-22 14:43] GIANTCRAB opened #71 "Equip shield as any classes"
1) Spawn as a demoman with a shield.

2) Before the round starts, keep changing from demoman to scout, then from scout to demoman and then back to scout. (as many times as possible)

3) ????

4) PROFIT!!!11111oneoneleven

[2014-05-22 14:43] #71 closed, assigned to nobody

[2014-05-30 22:27] WildCard65 opened #72 "Boss packs + natives for pack control."
It would be great if ff2 had a boss pack system and a subplugin dedicated for handling rotating the boss packs(and rotating what order they are in so that a different pack is always first on vote list) and natives for subplugins to use for pack system.

[2014-06-03 20:47] winstliu opened #76 "Update translations"
- [x] Translation names should be converted to uppercase with spaces (`jump_status`-->`Jump Status`)
- [ ] Translations should be combined where possible (`jump_status` and `teleport_status`-->`Ability Status`)
- [ ] Translations should be made more concise where possible
- [x] Any text should be converted to translations (`CPrintToChat`, `SyncHudText`, etc.)

[2014-06-03 22:22] WildCard65 opened #77 "Implement cvar to control if rtd cvar enforcement should be active or not."
See fiagram's comment on my rtd cvar enforcement.

[2014-06-03 22:48] winstliu opened #79 "Improve OnTakeDamage"
See friagram's post at https://forums.alliedmods.net/showpost.php?p=2146089&postcount=736.

I'm going to try to go with the "better solution".
- [ ] Allow self-damage to go through (aka rocket jumping will now be possible)

[2014-06-03 22:49] #64 closed, assigned to nobody

[2014-06-04 01:43] #77 closed, assigned to nobody

[2014-06-04 20:15] winstliu opened #80 "FF2FLAG_ISBUFFED is broken"
Once activated, it never gets deactivated until respawn.
No idea how to fix it :frowning:.

[2014-06-05 01:48] winstliu opened #87 "BGMs not playing"
I can't seem to reproduce this, but some people are complaining that BGMs are not playing on 1.10.0.

One reported that the sounds weren't being precached.

[2014-06-05 21:50] #87 closed, assigned to winstliu

[2014-06-06 15:47] WildCard65 opened #88 "Rolling releases (and rolling betas)"
For when you start FF2 2.0.0 @50Wliu (your version, unless you decide to help me with my rewrite), maybe have it so travis pushes rolling releases/beta builds, may be difficult and might be impossible, we will never know unless tested.

[2014-06-06 20:58] #80 closed, assigned to winstliu

[2014-06-09 20:05] WildCard65 opened #90 "Turn travis building back on."
@50Wliu since your PR for https://github.com/alliedmodders/sourcemod was reverted, travis can be turned back on.

[2014-06-09 20:29] #90 closed, assigned to nobody

[2014-06-16 22:14] 50Wliu opened #92 "Remove Timer_RestoreLastClass"
`TF2_SetPlayerClass` has a handy argument to not make the class change persistent.  All we need to do is make that false whenever we're changing classes because they're the boss.

This might also allow class changes after you win as the boss to actually work (previously, `Timer_RestoreLastClass` would discard that and set you as the class that you chose right before you became the boss).

[2014-06-18 01:35] winstliu opened #93 "Get rid of the Boss array"
This will require getting rid of `Boss[0]` during round start and end, when no client parameter is passed.
- [ ] Transform `Boss[]` into a boolean array that determines whether or not the client is a boss
- [ ] Get rid of `Boss[0]`-always use the actual client index
- [ ] Remove `IsBoss()` since this is just a wrapper around `Boss[]`

Low priority.

[2014-06-18 01:42] winstliu opened #94 "Replace Special with character"
`Special` is a very misleading name and should be entirely replaced in favor of `character`.  Will probably be phased out slowly.

Extremely low priority.

[2014-06-22 22:55] WildCard65 opened #95 "Precache error"
I'm not sure if this is a ff2 bug, but:
253/ - prop_dynamic:  UTIL_SetModel:  not precached: models\freak_fortress_2\skeleton_king\skeleton_king_dead.mdl
253/ - prop_dynamic:  UTIL_SetModel:  not precached: models\freak_fortress_2\skeleton_king\skeleton_king_dead.mdl

L 06/22/2014 - 18:53:50: Engine error: 253/ - prop_dynamic:  UTIL_SetModel:  not precached: models\freak_fortress_2\skeleton_king\s

[2014-06-23 14:39] WildCard65 opened #96 "FF2 Health Calc error"
(1000_n)^1.03) this health formula causes an index out of bounds error.
Also it seems health is calculated wrong
This: ((1000+n)_n)^1.03 with 20 bots suppose to be over 20k but actually is under 20k

[2014-06-23 16:24] WildCard65 opened #97 "Rebind rage"
We should rebind rage to +attack3 as taunting can't be done in sky anymore

[2014-06-23 22:17] #96 closed, assigned to nobody

[2014-06-24 15:24] WildCard65 opened #100 "FF2 More Health Calculation problems."
It seems like FF2's Health Calculation system is not perfect and has some errors in it:
Debugging I made:

[code]

[2014-06-24 16:43] #95 closed, assigned to nobody

[2014-06-25 00:10] #88 closed, assigned to winstliu

[2014-06-26 13:23] #100 closed, assigned to nobody

[2014-06-26 21:52] WildCard65 opened #105 "Make translations constitently single."
Some translations are similar to each other and in no way needing 2 seperate versions with same purpose.
So combine them into 1.

[2014-06-26 21:54] #105 closed, assigned to nobody

[2014-06-28 18:39] WildCard65 opened #106 "Fix hp calc, minor change not worth a pr"
Ok, it seems you having me put value on same line in decl f***ed up my code, add in a strcopy(value, sizeof(value), ""); in b4 for loop will help

[2014-07-02 17:33] #106 closed, assigned to nobody

[2014-07-03 23:08] WildCard65 opened #107 "Take advantage of SM 1.6 plugin changes."
Let's do that, like the "..." concatenation of sm 1.6 compiler

[2014-07-04 16:51] WildCard65 opened #108 "Invest into better subplugin controls."
Atm, it's NUTS! Subplugins have no way of telling FF2 they are modifying something that FF2 also modifies(see friagram's complaint about backstab system).
Subplugins rely on SourceMod's loading system, limiting FF2's controls on how subplugins must function.
Commands are only ran AFTER plugin related stuff is done (so if you do sm plugins unload freak_fortress_2.smx and you got a subplugin that ha

[2014-07-07 00:31] winstliu opened #111 "Health bar is wrong"
The health bar renders with part of the "health" missing.  However, damage dealt is still rendered correctly and when the boss reaches 0 health, the healthbar also reaches 0 health.

[============____]  //Totally horrible textual representation

/cc @WildCard65

[2014-07-07 20:00] #97 closed, assigned to nobody

[2014-07-08 14:44] winstliu opened #112 "Fix Character Sets"
Nothing else to say really.  Tagging as bug-major since it's totally broken.

[2014-07-08 20:22] winstliu opened #113 "Get rid of OnDestroy"
Reading the changelog, it looks like this was implemented to fix a Eureka Effect teleportation exploit.
Not sure if it's needed now.

Tagging as enhancement/question since it's not a bug, and I'm not really sure if it's still needed.

[2014-07-11 12:03] WildCard65 opened #114 "Add sdkhooking in OnMapStart()"
Been delaying this for a bit for no reason... So now, I shall finally shine light on this issue.
Atm, if FF2 breaks to the point where it goes into a fail state, or if someone reloads FF2 cause they customized the code, sdkhooks does not get hooked onto clients already in the server causing things like backstabs to insta kill hales

[2014-07-11 23:16] WildCard65 opened #115 "Fix bot rage"
Just as I feared... FakeClientCommand of voicemenu 0 0 does not work...

[2014-07-12 16:42] #115 closed, assigned to nobody

[2014-07-13 02:30] GIANTCRAB opened #116 "Why is rage_preventtaunt removed from boss cfg?"
Hey,

Why is this being removed from all the bosses' cfg?

[code]

Also, rage_preventtaunt doesn't work correctly most of the time, bosses will still do normal taunt.

[2014-07-13 03:37] GIANTCRAB opened #117 "rage_cloneattack is broken"
When rage_cloneattack is called, it just causes the server to hang for 5 to 10 seconds before clones get spawned.

Thank you.

[2014-07-13 12:17] #116 closed, assigned to nobody

[2014-07-13 19:54] winstliu opened #118 "Optimize chances"
We only need to read the chances string once; it would be better if it was moved into `FindCharacters()`.

[2014-07-13 20:24] #117 closed, assigned to nobody

[2014-07-13 20:39] #118 closed, assigned to nobody

[2014-07-14 21:54] WildCard65 opened #119 "Use Kvizzle for kv parsing."
Kvizzle stocks are actually neat for kv parsing. And can clean kv parsing to be more neater.

[2014-07-14 22:13] WildCard65 opened #120 "About SetBossHealthFix"
Knowing what I know about how overheal works in TF2, SetBossHealthFix is designed to counter act how overheal works, as overheal decays over time, but of course, no one wants the boss's health to decay over time to the class' base max hp(as m_iMaxHealth is reset by TF2 every gameframe), but, to remove it, we need to make use of SDKHooks forward for MaxHealth which gets called EVERY game frame.
But

[2014-07-14 23:01] #120 closed, assigned to nobody

[2014-07-15 00:41] #111 closed, assigned to nobody

[2014-07-16 15:16] winstliu opened #121 "Add round state enum"
Not much of a change-just making it easier to understand.

[code]

This can happen anytime, so tagging for FUTURE.

[2014-07-17 01:31] AliceTaylor opened #122 "feature request"
sry for write here.

i want to you to add native function for get a number of red alive player.

it may helps for optimization other subplugins. thanks.

[2014-07-18 00:54] #119 closed, assigned to nobody

[2014-07-18 13:05] GIANTCRAB opened #126 "Weighdown glitch"
Hello,

Seems like overtime, the hale will be stuck with this "weighdown" glitch where he cannot jump at all because he will constantly be using weighdown. This glitch seems to be produced by getting knockback far away then using weighdown.

This glitch will last even if he dies at round end and join as red team the next round.

Only when the hale leaves, then the glitch disappears.

[2014-07-19 15:00] WildCard65 opened #128 "Rage % can reach > 100%"
Ok, so boss rage % meter can reach to amounts above 100% making it impossible for hale to rage if it happens.
Edit: Well it's fixable if you get hit by a player/bot

[2014-07-19 21:55] #112 closed, assigned to winstliu

[2014-07-22 10:58] WildCard65 opened #130 "Enhancement: Use AMBuild for packaging FF2 together."
I just discovered a nice feature of AMBuild to package things together into an easy to zip folder.
Manual work to get first going, but worth it in the end.

[2014-07-26 00:32] #113 closed, assigned to winstliu

[2014-07-26 12:17] #126 closed, assigned to nobody

[2014-07-27 00:35] WildCard65 opened #133 "Fix to outstanding botkiller head issue."
I think I found the solution: kill all tf_wearable_vm entities.
Edit: YES THIS IS THE SOLUTION!

[2014-07-29 13:18] #133 closed, assigned to nobody

[2014-07-29 14:43] #128 closed, assigned to nobody

[2014-07-30 22:06] #107 closed, assigned to nobody

[2014-07-31 20:12] #122 closed, assigned to winstliu

[2014-08-01 10:43] WildCard65 opened #138 "Improve boss config"
I think the boss config needs a major overhaul.

[2014-08-01 14:30] #121 closed, assigned to winstliu

[2014-08-01 19:38] #59 closed, assigned to winstliu

[2014-08-03 19:14] #25 closed, assigned to winstliu

[2014-09-03 19:02] ghost opened #141 "Some Bugs"
1)Cant modifie mediguns, i tried with tf2items,only works in normal arena round
![](http://i.hizliresim.com/bQ3V6n.jpg)
![](http://i.hizliresim.com/pv1nAo.jpg)
![](http://i.hizliresim.com/REMDAY.jpg)
I think you must add this fix to ff2 official:
`DrawPanelText(panel, "12) Fixed strange mediguns not being strange (Chris)");`

[code]

2)Rarely If there are two bosses or more  ff2 forces second boss

[2014-09-04 05:12] Selena-Gomez opened #142 "[Request] New config sound option"
I think a new sound option that many could potentially use would be sound_first_blood. As someone who's porting Dota 2 heroes to FF2 I would be to make use of lines such as these:
(WARNING, loud)
[Terrorblade](http://hydra-media.cursecdn.com/dota2.gamepedia.com/0/08/Terr_firstblood_03.mp3)
[Doom Bringer](http://hydra-media.cursecdn.com/dota2.gamepedia.com/6/65/Doom_firstblood_01.mp3)
[Legion Comma

[2014-09-05 21:42] ghost opened #143 "Show Boss Health without overheal"
Is it possible to show boss hp like this ?:

![](http://i.hizliresim.com/jzl45j.jpg)
![](http://i.hizliresim.com/2vG2gN.jpg)
![](http://i.hizliresim.com/BolZMD.jpg)
![](http://i.hizliresim.com/Z2GLDk.jpg)
![](http://i.hizliresim.com/onBAg7.jpg)

[2014-09-09 23:57] #114 closed, assigned to nobody

[2014-09-11 14:20] ghost opened #144 "ff2 doesnt give crits to last player if the second last player is banned/or vote banned"
http://i.hizliresim.com/jYJQWW.jpg

[2014-09-11 14:20] ghost opened #145 "Changing class while you are boss"
http://i.hizliresim.com/m8lJk4.jpg
http://i.hizliresim.com/EElyRg.jpg
Also, Here is a strange think about vagineer and breads
http://i.hizliresim.com/2Q7E9E.jpg

[2014-09-11 14:25] ghost opened #146 "Replacing Bread bite with GRU"
Instead of replacing with gru, Bread bite must have Stats of gru.
![](http://i.hizliresim.com/q2qJyQ.jpg)

[2014-09-11 19:08] #145 closed, assigned to winstliu

[2014-09-12 13:48] ghost opened #147 "Weapon Balance Ideas."
~Wliu-edited~
- [x] Huntsman receives 2x ammo (From VSH)
- [x] Medic crossbow adds 15% uber (From VSH)
- [x] Back Scatter deals crits on back-hits
- [x] Ullapool Caber can have +4 extra uses
- [x] Holiday Punch gives you instant weapon switch
- [x] Fists of Steel will provide extra protection against ranged attacks
- [x] Razorback acts like a demoshield

[2014-09-16 09:56] AliceTaylor opened #148 "deadringer death hit sound"
because of deadringer death doesn't play "sound_hit" and "sound_kspree" from boss, fake death can be  detected easily.

[2014-09-16 17:57] dany777 opened #149 "Models, materials and sounds not downloading"
I have moved the fast download files to my dropbox website, i put the url download, and always download weird things like models.mdl, materials/freak fortress2.warever

Never downloads the models, materials and textures

[2014-09-16 19:22] #149 closed, assigned to nobody

[2014-09-21 22:28] #141 closed, assigned to winstliu

[2014-09-25 00:42] winstliu opened #150 "Don't break shields unless the damage will kill you"
This is helpful in a number of ways (for example, fire attacks and the Chargin' Targe), and further justifies the default removal of demoshield crits.

[2014-10-04 01:11] winstliu opened #151 "Create unit tests"
At this point, it's pretty clear that FF2 needs unit tests in order to avoid every single version having regressions.  We could use something like [PawnUnit](https://forums.alliedmods.net/showthread.php?t=195717) to achieve this.

I'll be creating a new branch and PR for this.

[2014-10-07 10:12] ghost opened #152 "FF2help is broken"
"help_mode" text isnt appearing when !ff2help in chat nor using ff2menu,instead it shows boss hp

[2014-10-09 00:40] ghost opened #153 "can you check the deathrun.ff2?"
I hope you support deathrun too...

[2014-10-09 00:49] #152 closed, assigned to winstliu

[2014-10-11 22:42] wasder opened #154 "Thirdperson at start of a round"
Turn boss in third person view before a round starts and switch back to normal when it starts.
This will help to understand who you are at once.

[2014-10-11 23:39] #154 closed, assigned to nobody

[2014-10-12 13:33] ghost opened #155 "Using default class model instead of error (when downloading files failed)"
Is is possible to use default class model when model files isnt downloaded/failed instead of a gaint red error (because hitting error is hard.and annoying)

[2014-10-12 13:56] #155 closed, assigned to nobody

[2014-10-12 14:44] ghost opened #156 "Super Duper Jump"
If you touch golds in warebloom or something does damage to you like pits , super duper jump becames ready, and you must use it
![2014-10-12_00019](https://cloud.githubusercontent.com/assets/8645803/4606445/eda3b2f6-521e-11e4-93bc-d81b335935ae.jpg)
![2014-10-12_00020](https://cloud.githubusercontent.com/assets/8645803/4606447/edd66124-521e-11e4-897c-01dc804ed2b0.jpg)
![2014-10-12_00021](https://cl

[2014-10-12 15:04] ghost opened #157 "ff2_first_round system"
I think setting ff2_first_round  to 0 must disable 1 must enable arena for the first round
2 must enable arena mode for 2 rounds, etc. beacuse first round mostly ends fast,most of players can join after second round started,or beginnig of third round,also it makes more customizable.

[2014-10-12 20:20] ghost opened #158 "Toolbox is not working"
Enginner bosses cannot use build tool (index 28)

[2014-10-15 04:39] #158 closed, assigned to nobody

[2014-10-15 23:03] winstliu opened #159 ""special_dropprop" can crash servers"
There's currently a serious bug in `special_dropprop`.  The model string can be set incorrectly from a different boss utilizing `special_dropprop`, resulting in a `prop_physics_override: UTIL_SetModel: not precached: <model>.mdl` error and possible crash.  The current boss does not need to have `special_dropprop` in order for this error to occur.

No idea what's wrong though.

[2014-10-16 16:28] ghost opened #160 "ff2_caber_detonations seems like not working with the new beta"
ff2_caber_detonations isnt working with lastest beta (14.10.14)

[2014-10-19 07:31] ghost opened #161 "Cannot use constant health values"
what is this error about?

`L 10/19/2014 - 14:42:43: [freak_fortress_2.smx] [FF2] Malformed boss health formula, using default!`

[2014-10-19 22:15] shadow93 opened #162 "Increase killstreak count per point gained?"
If not in v1.10.x, at least for v2, say the person attacking the boss is carrying a killstreak weapon, why not have the killstreak count increase per point gained. For example, you have 5 points for the current round, your killstreak count would be 5 as long as you're alive (which would use the same method to calculate points earned).

"m_iKillStreak" is what deals with the killstreak stuff btw.

[2014-10-21 15:08] #160 closed, assigned to nobody

[2014-10-21 23:17] shadow93 opened #163 "Enable Killstreaks for boss weapons by default?"
It's more to encourage players who are the bosses to make more kills so that if certain bosses have the sheen/killstreaker attributes set, they can see the cosmetic effects as they make more kills.

All that would need to be done is just add attribute 2025, and have it default at value 3 (2025 ; 3)

![2014-10-21_00012](https://cloud.githubusercontent.com/assets/9245131/4728626/66dbe0de-5978-11e4-9

[2014-10-24 01:22] 50Wliu opened #164 "Allow more config options to specify a formula"
You can specify a health formula to set the boss health-why not allow that for rage damage or speed?
In particular:
* `ragedamage`
* `speed`
* `ragedist`

This would allow for interesting new concepts and balance out the bosses.

Planned for 2.0.0.

(Was previously `ragedamage` only, now expanded to all config options that take values)

[2014-10-31 23:18] winstliu opened #165 "Player glow is broken"
Highlighting a player no longer works since Scream Fortress 6.
This breaks sniper rifles, last player glow, and any plugin that utilizes the `FF2_SetClientGlow` native.

Tagging as `bug-major` because this affects gameplay and natives.

[2014-11-03 01:47] 50Wliu opened #166 "Investigate Timer_RestoreLastClass for clones"
It *might* not be working.

/cc @Shadow93, who reported this.

[2014-11-03 23:16] winstliu opened #167 "Investigate CheckAlivePlayers() timer"
In particular:
- <s>Is the timer even needed?  Can we call CAP directly?</s>-Yes, we need to call the timer.
- <s>Is the repeating timer needed?  Are there special cases outside of the events that we call CAP in?</s>
- Can we replace `FF2_Get{Alive|Boss}Players` with forward `FF2_OnAlivePlayersChanged`?
- Is there a better way to get the number of alive players?

/cc @Shadow93 for bringing this up

[2014-11-04 03:16] shadow93 opened #168 "Cloneattack/Multi-Bosses Bug"
Here's an interesting bug...whenever a clone/minion is spawned, when the boss is defeated, the clone doesn't die like it's supposed to. Affects any ability involving summoning/spawning clones/minions.

Also, when you're in a duo or multi-boss setup, when either of the bosses are defeated, the other bosses die along with the defeated boss.

I'll make a video showcasing this bug in action when i get

[2014-11-05 02:23] Selena-Gomez opened #170 "A few issues, translation file and a not always precached sound"
Caught by looking at server console,
- Fatal error encountered parsing translation file "...freak_fortress_2.phrases.txt"
  Error (line 322, column 8): Phrase sections may not have sub-sections
- The sound "announcer_ends_5min.wav" doesn't seem to always be precached.

[2014-11-06 14:54] #165 closed, assigned to winstliu

[2014-11-07 21:08] #142 closed, assigned to winstliu

[2014-11-07 21:08] #143 closed, assigned to winstliu

[2014-11-07 21:08] #144 closed, assigned to winstliu

[2014-11-07 21:08] #146 closed, assigned to winstliu

[2014-11-07 21:08] #147 closed, assigned to winstliu

[2014-11-07 21:08] #148 closed, assigned to winstliu

[2014-11-07 21:08] #161 closed, assigned to nobody

[2014-11-07 21:08] #170 closed, assigned to winstliu

[2014-11-08 00:38] #159 closed, assigned to winstliu

[2014-11-10 23:59] winstliu opened #174 "Travis is failing"
[code]

/cc @WildCard65

[2014-11-12 22:23] winstliu opened #175 "Previous companions are getting overheal"
Reported by lionheart1066 on the forums.

It appears that companions from the previous round are getting overhealed with the new boss's health.

[2014-11-12 22:25] winstliu opened #176 "Improve SDKHook_GetMaxHealth"
In particular, don't hook it automatically when a client enters a server.  Instead, hook it when that client becomes a boss and unhook it immediately after the round ends.

Should fix #175.

[2014-11-17 21:13] #176 closed, assigned to winstliu

[2014-11-17 21:16] #175 closed, assigned to winstliu

[2014-11-17 22:44] #174 closed, assigned to winstliu

[2014-11-23 03:29] shadow93 opened #177 "Suggestion: use arena_round_start & arena_win_panel"
Some newer ability subplugins are now using arena_round_start / arena_win_panel instead of teamplay_round_start / teamplay_round_win. I mean after all, FF2 rounds are arena rounds anyway...

This would render the need of a 9-11 second timer unnecessary as arena_round_start applies the effects once the setup counter reaches 0, instead of during the setup time.

(BossTweaks, Thi Barrett's subplugin,

[2014-11-23 14:14] M76030 opened #178 "One boss all the time"
While im using the latest version of FF2, there is always the same boss over and over, and its the boss that is listed at the end of the list. i dont know whats wrong, i couldnt find an error in the server console.

[2014-11-24 16:45] #178 closed, assigned to nobody

[2014-12-01 22:47] #167 closed, assigned to winstliu

[2014-12-12 21:06] shadow93 opened #179 "FF2 Queue Points System / SetBoss broken in latest BETA"
Latest BETA is having issues with queue points. No matter if you manually force points on someone, it just hangs there without setting anyone as a boss. If lucky, you'll sometimes get the bots to become a boss, but never with human players unless it becomes a companion boss.

Even switching to the opposite team to try to trigger the next boss round has no effect.

Also, when you type in /ff2next o

[2014-12-13 02:01] 50Wliu opened #180 "Fix compatibility with Sourcemod 1.7"
FF2 currently seems to crash whenever a boss is killed if the server is running SM 1.7.  We need to fix this before 1.7 is released (if the problem's on our end).

[2014-12-14 13:26] M76030 opened #181 "Using DR kills bosses and players instantly"
Like the Title says, whenever a hale or a normal player is using the deadringer, he will be killed instandly after the fake death
I have the 1.10.3 version of FF2 and the latest SM and MM version
I will provide a error log here from the server console soon enough (if there is an error in the console of course)

[2014-12-14 13:36] M76030 opened #182 "[Question] about sounds"
Will there be a way to fix the `sound_kill` and `sound_fail`? since some of the hales are using the `sound_kill` and then these sounds arent played aswell.
anyways, which duo/trio etc hales, i know that `sound_begin`, `sound_lastman` and `sound_win` is used by the first hale and not by the second hale, but why is `sound_nextlife` only used by the first hale and not by the second hale?
just wanted

[2014-12-14 22:45] Doktor-Doraro opened #183 "Suggestion: change how FF2_StopMusic(client) works"
When FF2_StopMusic(client) is called, it doesn’t kill the timer. I was wondering if it was possible to have this implemented into the official build so that any plugins that stop the FF2 Music don’t have to worry about the music starting up again.

[2014-12-22 00:23] 50Wliu opened #184 "Add build number of some sort to unstable versions"
Cannot be implemented until I can get Jenkins to work.  Manual build incrementing is not something that will work out long-term.

I'm thinking either using an incremental number or the SHA of the current commit (leaning towards the SHA).  Will be implemented in the code like `#define CURRENT_SHA manual` where `manual` will be replaced by the current SHA by Jenkins.

[2014-12-22 00:38] AliceTaylor opened #185 "queue point bug fixing."
queue point wont work properly. i fix it.

event_round_start

new bool:omit[MaxClients+1];
Boss[0]=GetClientWithMostQueuePoints(omit);   // was GetClientWithMostQueuePoints(); MODIFIED
omit[Boss[0]]=true;

[2014-12-22 04:42] AliceTaylor opened #186 "market gardener (new rocket jump logic)"
inside public Action:OnRocketJump(Handle:event, const String:name[], bool:dontBroadcast)

FF2flags[GetClientOfUserId(GetEventInt(event, "userid"))]|=FF2FLAG_ROCKET_JUMPING;

rocket jumping flag always on so market gardener works as backstab every shot even if on ground.

because you called both rocket_jump and rocket_jump_landed event at OnRocketJump.

you should use StrEqual(name, "rocket_jump",

[2014-12-23 02:04] #179 closed, assigned to winstliu

[2014-12-23 02:04] #185 closed, assigned to winstliu

[2014-12-23 02:14] #186 closed, assigned to winstliu

[2014-12-23 02:26] 50Wliu opened #187 "Allow option to disable hard-coded speed formula/health"
As brought up by sarysa on the forums, FF2 currently overrides both the boss's speed and health values, making them impossible to configure using subplugins or commands.  This is undesirable for a number of obvious reasons.  To combat this, 2 new config options `disable_{speed|health}_override` will be added that will default to 0.  Setting them to 1 will prevent FF2 from overriding the speed and

[2014-12-23 18:53] #157 closed, assigned to winstliu

[2014-12-24 05:37] shadow93 opened #188 "SUGGESTION: Modify Rage_Stun to affect B.A.S.E Jumper users within range."
The suggestion is so that it would affect nearby B.A.S.E Jumper users within the boss's rage radius whenever rage_stun is used.

Although i like the B.A.S.E jumper, rounds can drag on after a while trying to reach a stunned B.A.S.E jumper user, sometimes the stun length isn't long enough by the time one manages to reach the user.

All that would be added is just this:
	if(TF2_IsPlayerInCondition(t

[2014-12-27 12:36] bartico6 opened #189 "Two last people get crits, instead of mini crits."
Running 1.10.3.
Two last people get full crits instead of minicrits.
Easy to reproduce.
1.Start the game with >2 people
2.Kill all of them till there are two left
3.Both will have crits instead of mini crits.

[2015-01-02 15:19] GIANTCRAB opened #190 "Donation?"
Hey,

It's been quite some time since I've used FF2. It seems like it's still pretty active but there's some bugs or so. Do you guys accept donations?

Thanks.

[2015-01-02 23:04] 50Wliu commented on #190
I myself can't accept donations (yet).  There might be another way though, so I'll keep this open.

[2015-01-03 06:17] GIANTCRAB opened #191 "Abilities problem?"
**See [this comment](https://github.com/50DKP/FF2-Official/issues/191#issuecomment-69484984) for the latest standings of this issue.**

Hey,

It looks like there are some issues with Ninja spy's slowmo ability. It causes the player to have infinite jump attacks.

Here's the console output:

![untitled](https://cloud.githubusercontent.com/assets/1075708/5601776/f7773968-9352-11e4-8b7c-7ea5b55d8512.

[2015-01-03 16:57] shadow93 commented on #181
It's also affecting 1.10.4 as well.

[2015-01-04 15:05] 50Wliu commented on #191
Just to make sure: are you using 1.10.3?

[2015-01-04 15:05] 50Wliu commented on #181
I'll be fixing this soon (now that I'm back from vacation).

[2015-01-05 00:36] GIANTCRAB commented on #191
Yep, using 1.10.3. The Stable branch from Github. (Also, the other branches seem to be out of date)

[2015-01-05 00:58] 50Wliu commented on #191
Blame my Git skills for that.  I'll probably be pushing some commits tomorrow to fix some issues.

[2015-01-05 02:38] GIANTCRAB commented on #191
Oh and teleportation bug is back (see issue #52 ).

The !ff2 command is buggy. When I select number 3, the number 2 option is selected instead.

[2015-01-10 20:07] shadow93 opened #192 "Revert 965542e changes"
The change brought by 965542e essentially prevents FF2 from loading even if there isn't a duplicate on plugins\freaks folder, giving this error when i attempt to manually load it:

L 01/10/2015 - 19:57:10: [SM] Plugin encountered error 21: Native is not bound
L 01/10/2015 - 19:57:10: [SM] Native "FF2_Debug" reported:
L 01/10/2015 - 19:57:10: [SM] Displaying call stack trace for plugin "freak_fortr

[2015-01-10 21:11] 50Wliu commented on #192
Oh, derp.  I think I'm trying to use Debug() before it gets initialized.

[2015-01-10 22:16] 50Wliu commented on #192
Fixed by da17198f99a9a3322eca4248750aada108fd4d34.

[2015-01-10 22:16] #192 closed

[2015-01-10 22:19] 50Wliu commented on #191
The errors with logs have been fixed.  Could you open another issue with the Demopan problem if it happens again (and with errors if possible)?

[2015-01-10 22:29] 50Wliu commented on #182
I might have fixed `sound_fail`-could you try that out now?
`sound_kill` isn't even implemented in the code.  Do you know what version it worked last on so I can go check to see if it was removed accidentally or purposely?

[2015-01-10 22:30] 50Wliu commented on #182
And...companions should be able to use `sound_nextlife` now.

[2015-01-11 06:11] GIANTCRAB commented on #191
I'll give screenshots of all the errors encountered.

![error1](https://cloud.githubusercontent.com/assets/1075708/5694380/c3016e8a-9990-11e4-88c0-04c461028b66.png)
This error comes up on every round but doesn't seem to have any effect on gameplay.

[code]

What is this line of code even for, I don't have a duplicate copy and it causes FF2 not to load. I've removed it and it works fine. ![director

[2015-01-11 15:20] 50Wliu commented on #191
I don't even get how all of this is happening.  It was fine in my tests.

[2015-01-11 15:34] 50Wliu commented on #191
Bugs 4b (Ninja Spy getting stuck) and 5 should be fixed.  Looking into 3 now, and I'll need an unmodified version of FF2 to get the correct stack trace of 1 (sorry).

[2015-01-11 15:40] 50Wliu commented on #191
For bug 3: The schematics of how `ff2_first_round` works recently changed (see #157).  This broke backwards compatibility (something that I didn't notice).  I'll fix this by marking `ff2_first_round` as deprecated and create a new cvar called `ff2_arena_rounds`.

[2015-01-11 15:55] 50Wliu commented on #191
Fixed bug 3.  I suggest that you switch over to `ff2_arena_rounds` (where setting it to `1` will have the same effect as `ff2_first_round 0`) since `ff2_first_round` will be going away in v2.

[2015-01-11 19:51] M76030 commented on #182
Sadly, i dont know which version it worked last, but i assume around version 1.0.6 - 1.0.7
i will try sound_fail the comming days

[2015-01-11 20:20] 50Wliu commented on #182
`sound_kill` doesn't exist in any version from 1.06h to the current commit (unless it was added in between them and then removed).  I can't go back any further since that was the first version to be uploaded to Github.  Did you mean `sound_hit`, by any chance?

[2015-01-12 01:32] GIANTCRAB commented on #191
Uh, I modified it by removing those lines I have quoted in bug 2.

I wanted to disable ff2 first round because Freak Fortress 2 1st round always seems to be buggy. The hale sometimes don't have hale jump in the 1st round, pretty odd.

[2015-01-12 01:44] 50Wliu commented on #191
I'm thought that that had been fixed for some time.  If it hasn't, open up another bug :).

[2015-01-12 13:53] GIANTCRAB commented on #191
I was already using commit 779b28826d77a6c16cb6550506458b1e9ea967bb when reporting the issues on issuecomment-69484984

[2015-01-13 14:51] M76030 commented on #182
Nope, i mean sound_kill, i mean there must be a reason people are using sound_kill even if it doesnt exist, same for sound_backstab, i know it never exist at all, but some people are using and its annyoing to change it everytime.

[2015-01-13 23:13] shadow93 opened #193 "Companion Health not showing"
Particularly, when using duos or setups with multiple companions, it will only show the HP for the primary boss, and not the companion's HP as well.

[2015-01-14 00:40] 50Wliu commented on #193
Yup, Research reported this on the forums too.  I'll be investigating this as soon as I finish the `"manage_speed"` config option requested by sarysa.

[2015-01-14 02:22] #187 closed

[2015-01-14 02:22] #193 closed

[2015-01-14 07:50] shadow93 opened #194 "ff2_alive non-functional?"
I see that on the source code and on the translations file that there's an "ff2_alive" function. i know it's supposed to show the boss name, the HP it had left out of it's total (and lives left) at the end of the round, on top of where "top_3" would normally go such as:

"Ninja Spy (Wliu) left with 1024 of 1500 x 3 health left"

But i've never actually seen it work at all (practically every versio

[2015-01-14 11:27] GIANTCRAB opened #195 "FF2 boss does not have health"
![image](https://cloud.githubusercontent.com/assets/1075708/5738107/4dccd308-9c23-11e4-975e-4c7feddfbf11.png)
so the boss spawns with normal unit health...

[2015-01-14 11:44] GIANTCRAB commented on #191
Bug 2 seems to be fixed, I've opened up another issue #195

[2015-01-14 12:17] 50Wliu commented on #194
It never actually gets shown, which is the immediate problem.
The bigger problem is that that function literally uses one String variable for everything it does, be it emitting sounds, displaying the leaderboard, resetting entities...

[2015-01-14 12:18] 50Wliu commented on #191
I probably messed everything up when trying to satisfy sarysa.  Will fix today.

[2015-01-16 20:48] 50Wliu commented on #195
Fixed by the reverted commit.

[2015-01-16 20:48] #195 closed

[2015-01-16 20:58] #194 closed

[2015-01-16 23:21] 50Wliu commented on #191
I think I've reproduced the slow-mo spasm.

[2015-01-16 23:25] 50Wliu commented on #189
I can't reproduce this.

[2015-01-16 23:25] #189 closed

[2015-01-16 23:40] shadow93 opened #196 "Overheal bug if 1st round is an FF2 round."
Even though i see nothing on sourcemod pointing to this, the rest is self-explanatory (but i won the round as the boss):

![2015-01-16_00040](https://cloud.githubusercontent.com/assets/9245131/5786187/0e9446c0-9daf-11e4-9e8d-3dc8a66faaab.jpg)

[2015-01-16 23:43] #168 closed

[2015-01-16 23:44] 50Wliu commented on #168
Incorrect issue reference, whoops.
This is staying closed though since Shadow can't reproduce it anymore.

[2015-01-16 23:44] 50Wliu commented on #188
This was closed by https://github.com/50DKP/FF2-Official/commit/6cb0bd64bcc80e3faa4843f30af3c8e17ac6bd56 (incorrect issue reference).

[2015-01-16 23:44] #188 closed

[2015-01-17 01:36] 50Wliu opened #197 "Don't choose a boss that needs more players than available"
This is inherently unfair since companion bosses are designed to be balanced when all the companions are present.
Currently what FF2 is doing is trying to assign as many players as possible to the companion group (so that you might have only 2/3 of the companions) instead of quitting and trying to find another boss.

[2015-01-17 01:47] shadow93 commented on #197
Another idea i had was to multiply their existing HP formula to compensate for the lack of specific companions, but trying to find another non-companion boss (or one that needs less companions) instead would be the best idea.

[2015-01-19 22:59] shadow93 commented on #181
In my case, it turns out it was another plugin causing this bug. When i removed said plugin, the DR issues ceased to occur.

[2015-01-20 00:59] #166 closed

[2015-01-21 11:39] WildCard65 opened #198 "Require Sourcemod 1.8"
Prepare FF2 for 1.7 syntax

[2015-01-21 14:48] 50Wliu commented on #198
#180.

[2015-01-21 14:48] 50Wliu commented on #198
To clarify-v2 will be 1.7-compliant.

[2015-01-21 22:30] 50Wliu opened #199 "Make FF2_GetBossTeam() return TFTeams"
Right now it returns an integer, which is :-1:.

Obviously has to wait until v2 so as to prevent "tag mismatch" warnings.

[2015-01-28 00:20] shadow93 opened #200 "rage_cloneattack bugs (SHA c341042)"
Bug 1: When a clone/minion suicides or falls into a trigger_hurt location (after the saveminion timer expires), it doesn't restore them to their previous team

Bug 2: When the clone owner suicides or dies due to a trigger_hurt location, it does NOT kill the clones/minions

Bug 3: On companion-based bosses, it will respawn one of the companions as a minion with 100% rage and 1 HP

Make sure the dea

[2015-01-28 00:39] 50Wliu commented on #200
Could you try >= 4dbb010a9f60428ba9f0561f424c60820a8e857e please?

Bug 3 is separate from the first two.  That's been occurring for forever.

[2015-01-28 01:43] shadow93 commented on #200
Same issues.

[2015-01-28 02:30] 50Wliu commented on #200
Dang.  I'm wondering if something is wrong with the clone array then or something.

[2015-01-28 06:26] shadow93 commented on #200
Here's code from my pending updated ability subplugin, could help a bit with the death event bugs:

[code]

[2015-01-28 22:53] 50Wliu commented on #200
Bugs 1 and 2 fixed.  Working on 3 now.

[2015-01-28 22:56] #200 closed

[2015-01-28 23:01] 50Wliu commented on #182
Hmm.  I vaguely remember `sound_backstab` being a valid sound.  That might have been accidentally removed.

[2015-01-28 23:05] 50Wliu commented on #182
@M76030 it's `sound_stabbed`.  Closing this out now since all issues seem to be resolved.

[2015-01-28 23:05] #182 closed

[2015-01-31 06:51] GIANTCRAB opened #201 "Pyros don't receive mega detonator"
Previously, pyros which are equipped with a flare gun receives mega detonator.

However, now, they don't receive it. Is this a bug or a feature change?

[2015-01-31 07:49] GIANTCRAB opened #202 "Holiday punch actually work?"
It seems like the laughing gloves or holiday punch causes the Hale to really laugh, which makes it very overpowered.

It would be great if you could add an option to disable the laughing.

[2015-01-31 07:52] GIANTCRAB opened #203 "Spectator being forced into teams"
So the latest build seem to force spectator into teams upon the start of every hale round. Not very nice if I want to spectate and administrate the server.

Sometimes, it gets bugged and causes me to "spawn" into red team but I'm not there. There will be a text displaying "Respawning you because you have no items".

[2015-01-31 15:02] 50Wliu commented on #201
Bug :(

[2015-01-31 15:02] 50Wliu commented on #202
They should be getting removed, I think...

[2015-01-31 15:20] 50Wliu commented on #202
Are you sure TF2Items is working correctly?  Right now the Holiday Punch should be getting +100% weapon switch but no other attributes.

[2015-01-31 15:21] 50Wliu commented on #201
Same question here-are you sure TF2Items is working correctly?

[2015-01-31 16:36] GIANTCRAB commented on #202
Yep, medics get the upgraded medigun.

I also have my own tf2items weapons modifications but they didn't touch the holiday punch and pyro's detonator.

Do I need tf2 give items plugin or something?

[2015-01-31 16:40] 50Wliu commented on #202
No, just TF2Items.
That's weird, I'll check this out soon.

[2015-01-31 16:43] GIANTCRAB commented on #202
One more thing, I have tf2fix on the server. That wouldn't be the problem, would it?

[2015-01-31 17:04] 50Wliu commented on #202
...maybe?
I have noticed that the Holiday Punch interacts a bit weirdly with TF2Items (automatically removing its attributes doesn't seem to work, for instance-I had to manually set all of them to 0).

[2015-01-31 17:10] shadow93 commented on #202
The holiday punch's effect automatically cancels out in my end, though the animation still plays (taunt sliding condition)

[2015-01-31 17:23] 50Wliu commented on #202
I must have forgotten to remove the timer then...whoops.
One of the weapon balance changes was that the Holiday Punch was no longer replaced by fists but instead got +100% weapon switch time.

[2015-01-31 21:39] 50Wliu commented on #202
Can't reproduce, sorry.

[2015-01-31 21:39] #202 closed

[2015-01-31 21:39] 50Wliu commented on #201
Cannot reproduce.

[2015-01-31 21:39] #201 closed

[2015-01-31 21:40] 50Wliu commented on #203
Cannot reproduce.
Are you sure you have `mp_allowspectators` set to 1?

[2015-01-31 21:49] 50Wliu commented on #191
I can no longer reproduce the slow-mo spasm so I assume that's fixed.

I have however reproduced the demopan rage bug (it's even buggier than you reported ;_;), looking into it now.

[2015-02-01 03:16] GIANTCRAB commented on #201
I disabled TF2fix, doesn't seem to be the issue.

They said no detonator.
![image](https://cloud.githubusercontent.com/assets/1075708/5990878/5ccb79fc-aa03-11e4-8bbb-b2444961bc17.png)
This the console error:
![image](https://cloud.githubusercontent.com/assets/1075708/5990879/63505540-aa03-11e4-90c8-370d56c0b6ba.png)

GEESE, how come I get all these things and they cannot be reproduced.

[2015-02-01 03:18] GIANTCRAB commented on #201
The Syringe gun and medigun gets replaced with the "upgraded" medigun fine.

It's just really mega detonator and holiday punch.

![image](https://cloud.githubusercontent.com/assets/1075708/5990887/f963c22e-aa03-11e4-8f68-7c20f5c9842a.png)

[2015-02-01 03:42] GIANTCRAB commented on #203
![image](https://cloud.githubusercontent.com/assets/1075708/5990936/582bcb50-aa07-11e4-8b8c-04116cc8c98f.png)
You see that guy without class? Yup, he was forced into spawn and does not exist in the map. Game will not end but he can't die since he isn't even spawned.

[2015-02-01 10:46] Spyper12 opened #204 "Blue Team cant pick up heal or ammo on first round"
![](http://i.hizliresim.com/ymo0L7.jpg)
![](http://i.hizliresim.com/GE29oV.jpg)

[2015-02-02 06:08] shadow93 commented on #191
aaaaaaaaand Demopan's overlay portion of his tradespam rage is completely broken now.

I just simply reverted to using the code from the 1.10.3 version.

[2015-02-02 06:45] shadow93 opened #205 "Suggestion: Use FF2_GetBossTeam() directly for checking player teams for subplugins"
The current method done to check the boss team is prone to bugs if you have ff2_force_team set to 1 or 2, since it would usually still assume that the boss team is BLU.

Using FF2_GetBossTeam() directly would render the need of this timer unneccesary:

[code]

in addition to this line being unneccesary:

[code]

Here's a before and after example, using rage_stun from default_abilities:

Before:

[

[2015-02-02 14:15] 50Wliu commented on #191
Yup, realized that.  Apparently FakeClientCommand doesn't work for these purposes.

[2015-02-02 14:15] 50Wliu commented on #205
:+1:

[2015-02-02 14:47] 50Wliu commented on #198
Yup so I totally misunderstood this and thought it was a duplicate.
Tagging for v2 instead.

[2015-02-02 21:15] #191 closed

[2015-02-02 23:33] 50Wliu commented on #203
I believe I've identified the problem.  `MakeNotBoss()` was trying to force everyone who wasn't a boss onto the non-boss team, even spectators.  I've tightened up that logic a bit

[2015-02-02 23:46] #203 closed

[2015-02-05 01:03] 50Wliu commented on #180
So this is now super-super-super-super-super-critical that we get this fixed since 1.7 was released today.

[2015-02-05 02:19] 50Wliu commented on #180
@shadow93 just pretty exhaustively tested everything and the only bugs were Ninja Spy not being selected correctly and an AIOOB error which I have now fixed.  The Ninja Spy bug may have been due to the AIOOB error so I'm going to close this out for now.

[2015-02-05 02:19] #180 closed

[2015-02-05 02:33] shadow93 commented on #45
Here's what i've been using for my copy of FF2:

'''sourcepawn
stock CalcQueuePoints()
{
	new damage;
	botqueuepoints+=5;
	new add_points[MAXPLAYERS+1];
	new add_points2[MAXPLAYERS+1];
	for(new client=1; client<=MaxClients; client++)
	{
		if(IsValidClient(client))
		{
			damage=Damage[client];
			new Handle:event=CreateEvent("player_escort_score", true);
			SetEventInt(event, "player", client);

[2015-02-06 08:03] shadow93 opened #206 "Please Check: FF2 Boss Selection"
One of the recent changes for FF2_OnSpecialSelected broke FF2 Boss Selection. Sure, it gets the names of the bosses and are selectable, but once you "picked" your boss for your round, when your round takes effect, you get a completely different boss than the one you "picked".

[2015-02-06 12:44] 50Wliu commented on #206
Yep I know and I'm working on a fix.

[2015-02-06 17:09] shadow93 commented on #206
A little off topic:

' ' ' sourcepawn
	"November 6, 2014",	//1.10.3
	"November 6, 2014",	//1.10.3
	"November 6, 2014",	//1.10.3
	"November 6, 2014",	//1.10.3
	"November 6, 2014",	//1.10.3
	"January 18, 2014",	//1.10.4
	"January 18, 2014"	//1.10.4
' ' '

[2015-02-06 17:29] 50Wliu commented on #206
:(

[2015-02-06 22:11] #206 closed

[2015-02-08 21:06] shadow93 opened #207 "Overheal bug workaround"
I mean, since there isn't an actual possible way to figure out what's exactly triggering the overheal bug to prevent it, the only thing i can think of is this workaround with a configurable cvar, with the default limit being 360.

[code]

the cvar:
[code]

This would go to the MakeNotBoss timer, replacing the if(GetClientTeam(client)==BossTeam) statement:
[code]

This would respawn the player if t

[2015-02-08 21:31] shadow93 opened #208 "Suggestion: BFB Rebalance 2 / BFB cvar"
So i've been using this config and so far it's been working better than the previous adjustment.

Also, since some FF2 servers seem to use a third party plugin which strips the BFB (i believe it's weapon limiter), leaving scouts without a primary, i think it would be best to add a cvar whether to allow or block the BFB, so that if they choose to block the BFB, it gives them the stock scattergun in

[2015-02-09 16:02] 50Wliu commented on #175
Actually "fixed" by ae71d586d46f1f7ec907e4b3810564a803c6fe08.

[2015-02-09 16:03] 50Wliu commented on #181
I actually hit this once on the dev server when I was a boss, so re-opening just to be safe.

[2015-02-09 16:03] 50Wliu commented on #196
Should be fixed by ae71d586d46f1f7ec907e4b3810564a803c6fe08.

[2015-02-09 16:03] #196 closed

[2015-02-09 16:08] #207 closed

[2015-02-13 02:29] 50Wliu opened #209 "Switch from OnTakeDamage to OnTakeDamage_Alive"
Fixes a bunch of workarounds in OTD that are super obscure (setting 65 damage in OTD!=actual damage done is 65) and might even get rid of the need for `event_hurt`.

A consequence of this will be that the minimum SM version required will become 1.7 instead of 1.6.

This is actually going to be targeted for 1.10.4 in order to help resolve the dead ringer issue (#181).

[2015-02-13 13:33] #130 closed

[2015-02-13 13:35] 50Wliu commented on #130
Thanks for closing this-totally forgot about it.

[2015-02-14 15:38] 50Wliu commented on #209
Yeah so this is going to be way too much work to justify it for v1.

[2015-02-14 19:51] WildCard65 opened #210 "Natives request."
I have 2 natives I would like in FF2:
 * Get's the boss's damage needed to rage.
 * param boss Boss index.
 * return Rage damage of boss.

native GetBossRageDamage(boss);

 * Set's the boss's damage needed to rage.
 * param boss Boss index.
 * param damage Damage needed to rage.
 * noreturn

native SetBossRageDamage(boss, damage);

[2015-02-14 20:40] 50Wliu commented on #210
You're lucky.  I was planning to shut down any additions to the FF2 code once 1.10.4 came out.

[2015-02-14 20:45] WildCard65 commented on #210
I guess I am or else I wouldn't have been able to make the boss I'm planning on(who's model I still need D:)

[2015-02-15 01:24] WildCard65 opened #211 "PreAbility forward causes compile error"
It seems SM doesn't like forwards having default values in args in SP.

[2015-02-15 02:12] 50Wliu commented on #211
You're not supposed to include the default argument when you're using the forward, just like you don't in any other function.
Examples:
`public Action:PreAbility(boss, const String:pluginName[], const String:abilityName[], slot, status)`
`public Action:PreAbility(boss, const String:pluginName[], const String:abilityName[], slot, status, &enabled)`

[2015-02-15 02:12] #211 closed

[2015-02-15 02:23] #210 closed

[2015-02-15 13:58] WildCard65 commented on #211
You may want to relook at what I mean: <path to freak_fortress_2.inc>(404) : error 059: function argument may not have a default value (variable "enabled")
The compiler is complaining about the include file shouldn't have it.

[2015-02-15 15:34] 50Wliu commented on #211
I tried compiling it myself and it worked fine.

[2015-02-15 19:29] WildCard65 commented on #211
Which version of compiler you using cause I'm not touching the 1.7 compiler
with ff2 until I hear that it won't crash ff2 servers.

On Sun, Feb 15, 2015 at 7:34 AM, Wliu <notifications@github.com> wrote:

[2015-02-15 19:30] shadow93 commented on #211
The test server runs on Sourcemod 1.7.1 stable and so far isn't crashing.

[2015-02-15 19:31] WildCard65 commented on #211
alright, I'll give it a shot with the 1.7 compiler

[2015-02-15 19:41] WildCard65 commented on #211
1.7 compiler says same thing. Picture of compiler: https://www.dropbox.com/s/3m1mtxhy052g6j1/Screenshot%202015-02-15%2014.40.19.png?dl=0

[2015-02-18 17:17] shadow93 opened #212 "SUGGESTION: Sync HUD adjustment for charge_bravejump & charge_teleport"
I am aware they both were meant as slot 1 charges, but if someone wants a certain boss to use both abilities, and sets the slot of one of the charged abilities to 2, both sync huds will overlap each other's.

May i suggest using a switch statement for the slot so that the sync HUD don't overlap each other's?

Using charge_teleport for reference:
[code]

to

[code]

[2015-02-18 18:58] shadow93 commented on #175
i_MaxHealth actually counts overheal as part of a player's Max HP!!!!

Got this on my debug, when the overheal bug took place:
[FF2 DEBUG] GCH: 3173 miH: 3173 miMH:3204

[2015-02-18 20:58] 50Wliu commented on #212
Problem:  What would take precedence if both are charged?  Would it become a super teleport? :P

[2015-02-18 21:10] shadow93 commented on #212
Thats why on the test boss i have buttonmode set to 2 for the teleport charge lol. If both used the same buttonmode it would become a telejump xD

[2015-02-21 02:36] joshuagregoria opened #213 "ISSUE: maps.cfg is missing"
heres the error log and this is the version:Freak Fortress 2 1.10.3
i am very new to all this plugin stuff and making team fortress 2 servers

[2015-02-21 15:44] 50Wliu commented on #213
Hi @joshuagregoria, how did you install FF2?  It seems like you don't have any of the configs installed.
Could you please try installing this over your existing FF2 installation (but keep the things you already have installed as well)?
https://github.com/50DKP/FF2-Official/archive/master.zip

[2015-02-24 16:34] WildCard65 opened #214 "FF2 2.0: Methodmapping FF2"
Would be nice that when FF2 is starting it's port over to 1.7 syntax, have some of the getter/setter methods be in a method map property?

[2015-02-24 23:05] #208 closed

[2015-02-25 20:09] shadow93 opened #215 "Restoring Mantreads effect on boss weapons?"
I came up with this code yesterday. Works wonders and gets the job done

[code]

EquipBoss: Add attribute 259 in both attribute sections so it looks like this:
[code]

OnTakeDamage: Replace the if((attacker<=0 || client==attacker) && IsBoss(client)) event entirely
[code]

OnPlayerDeath: Add this anywhere within the if(IsBoss(attacker)) statement.
[code]

event_hurt: replace BossCharge[boss][0]+=da

[2015-02-26 19:36] WildCard65 opened #216 "New sound section + sequential sounds"
First:I would like sound_lastlife a sound played instead of sound_nextlife when boss gets to last life.
Second: Sequential sounds, a special numbered section that all sounds inside of it are played in ordered there numbered in. The native PlayRandomSound should have a bool value(default false) to only choose sequential sounds from sound section passed. For sequential sounds to work, a time paramet

[2015-02-27 22:11] 50Wliu commented on #181
Haven't been able to reproduce since, so closing again :P.

[2015-02-27 22:11] #181 closed

[2015-02-28 00:18] WildCard65 commented on #216
@50Wliu did you see this? I just be content if sound_lastlife made it

[2015-02-28 00:59] 50Wliu commented on #216
Yes.

[2015-02-28 17:20] 50Wliu commented on #216
Sequential sounds doesn't seem too useful.  I'd suggest implementing it in a subplugin instead (which is probably how all sounds will be parsed in v2).

[2015-02-28 17:24] WildCard65 commented on #216
So FF2 v2 will have a forward when a sound is played right?

[2015-02-28 17:24] 50Wliu commented on #216
Maybe.  We'll see how things work out.

[2015-02-28 17:35] #216 closed

[2015-03-01 01:43] WildCard65 opened #217 "Make {Get|Set}_BossRageDamage take floats not ints"
after looking in freak_fortrress_2.sp, I noticed BossRageDamage was a float, not an int which is what the natives take/return

[2015-03-02 01:18] 50Wliu commented on #217
Rage damage can only be specified as ints in boss configs.  I have no idea why the array itself is a float.

[2015-03-02 01:18] #217 closed

[2015-03-02 01:41] WildCard65 commented on #217
Well then can you change the array from float to int?

[2015-03-02 01:51] 50Wliu commented on #217
Yes in v2 no in v1 because I'm afraid touching that will blow everything to pieces.

[2015-03-02 02:07] WildCard65 commented on #217
Well in current state, the natives will blow up things when used(the get
native returns the float as an int but as it's presicion. And set could
potentially mess up things further.)
On 2015-03-01 8:51 PM, "Wliu" <notifications@github.com> wrote:

[2015-03-02 02:13] 50Wliu commented on #217
Get* will shift your value by at most one integer.
Set* will not mess up anything in any way since tagging an int as a float is perfectly allowable.

[2015-03-02 02:17] WildCard65 commented on #217
Last I checked, a float of 5500 to int was in the millions(somewhere near
there)
On 2015-03-01 9:13 PM, "Wliu" <notifications@github.com> wrote:

[2015-03-02 19:34] WildCard65 opened #218 "BossRageDamage not reset on new rounds"
After testing, it seems BossRageDamage is not reset on new rounds for a boss if the new natives is used on it

[2015-03-02 20:26] shadow93 opened #219 "FF2_Force_Team"
This is sometimes a recurring thing if it's set to 1 (Random team each round, having it override the always-BLU on vsh_ maps)

![2015-03-01_00003](https://cloud.githubusercontent.com/assets/9245131/6449664/663e1ed2-c0f0-11e4-8bbf-7e20e1b65dfe.jpg)
![2015-03-01_00004](https://cloud.githubusercontent.com/assets/9245131/6449665/663eab04-c0f0-11e4-88a4-c4c2609e1245.jpg)

On a side note, the default se

[2015-03-02 21:03] 50Wliu commented on #218
This is because it's only called whenever FF2 is enabled.  The best way to fix would probably to move it into StartBossTimer.

[2015-03-02 21:35] WildCard65 commented on #218
I moved it to event_round_start

[2015-03-02 22:53] 50Wliu commented on #218
So this is slightly more complicated than I thought.
`BossRageDamage[]` is cached per-character while other boss-related variables are cached per-boss.  So changing it would require changing `BossRageDamage[]` to be per-boss instead.

[2015-03-02 23:13] WildCard65 commented on #218
I just did what BossMaxLives does in event_round_start

[2015-03-03 01:30] 50Wliu commented on #218
Yes that's what I ended up doing.  Will push as soon as I get 1.10.4 released everywhere.

[2015-03-03 02:18] #218 closed

[2015-03-03 02:34] WildCard65 commented on #218
your push also fixed #217

[2015-03-03 02:46] 50Wliu commented on #218
Good catch.  Looks like I forgot to reference that.

[2015-03-03 04:43] shadow93 opened #220 "Revert 2fa808b changes"
The changes brought by this commit spawns the boss without any HP at all:

![hl2 2015-03-02 23-42-16-898](https://cloud.githubusercontent.com/assets/9245131/6456690/e4002fdc-c135-11e4-8b1f-41f657f85e73.jpg)

[2015-03-03 13:10] 50Wliu commented on #220
@WildCard65 and this is why I didn't want to change it from a float to an int.

[2015-03-03 13:14] WildCard65 commented on #220
I know where you blew up @50Wliu

[2015-03-03 13:14] WildCard65 commented on #220
BossRageDamage[0]=KvGetNum(BossKV[Specials], "ragedamage", 1900);
needs to be:
BossRageDamage[0]=KvGetNum(BossKV[Special[0]], "ragedamage", 1900);

[2015-03-03 13:15] WildCard65 commented on #220
Reason y:
L 03/03/2015 - 05:07:41: [SM] Native "KvGetNum" reported: Invalid key value handle 0 (error 4)
L 03/03/2015 - 05:07:41: [SM] Displaying call stack trace for plugin "freak_fortress_2.smx":
L 03/03/2015 - 05:07:41: [SM]   [0]  Line 2229, C:\servers\ff2dev\tf\addons\sourcemod\scripting\freak_fortress_2.sp::event_round_start()

[2015-03-03 13:16] 50Wliu commented on #220
All right, sounds good.  I'll take a look at it in a few minutes if I have time.

[2015-03-03 13:39] WildCard65 opened #221 "Health formula go boom"
Seems like somewhere FF2's HP calc went boom...

[2015-03-03 13:42] WildCard65 commented on #221
Debugging outputs I added to calculator:
[FF2 DEBUG] ((500*n)^1.04)/3
[FF2 DEBUG] Buffer = (
[FF2 DEBUG] Buffer = (
[FF2 DEBUG] Buffer = 5
[FF2 DEBUG] Buffer = 0
[FF2 DEBUG] Buffer = 0
[FF2 DEBUG] Buffer = *
[FF2 DEBUG] Buffer = n
[FF2 DEBUG] Buffer = )
[FF2 DEBUG] Using players!
[FF2 DEBUG] Value: 500
[FF2 DEBUG] Setting sum[1] to sum[2] of value
[FF2 DEBUG] Buffer = ^
[FF2 DEBUG] Buffer = 1
[FF2

[2015-03-03 13:46] WildCard65 commented on #221
Debugging I had is incorrect as I had SM print Sum as strings

[2015-03-03 13:48] WildCard65 commented on #221
Seems to be blowing up on my custom boss :/

[2015-03-03 20:49] WildCard65 commented on #220
So...

[2015-03-03 22:52] #220 closed

[2015-03-05 19:09] WildCard65 opened #222 "UseAbility causing console spam on arg0 around 20"
Seems like BossTimer calling UseAbility causes 2 errors, one an index out of bound errors on the CallPushString in UseAbility(can't remember which of the 2) and another with forward saying max params reached. This happens when arg0 is around 20

[2015-03-05 19:33] 50Wliu commented on #222
Why in the world would you have an arg0 that's 20.  If I remember correctly the highest documented number it can go up to is 9.

[2015-03-05 19:35] WildCard65 commented on #222
to prevent ff2 itself from activating the ability

[2015-03-05 19:39] 50Wliu commented on #222
That seems a bit hacky.

[2015-03-05 19:40] WildCard65 commented on #222
wierd thing, -20 doesn't cause such issue at same time reaching same goal 20 should do.

[2015-03-06 01:31] WildCard65 commented on #222
@50Wliu How about for ff2 2.0 you add arg-1 which can either be 1 or 0 and if it's 1, FF2 can NOT activate the ability, only subplugin that defines it can(Default value of 0 to preserve existing bosses)

[2015-03-06 01:47] 50Wliu commented on #222
Why is setting arg0 to 7 not good enough?
Have you tried `FF2_PreAbility` or `FF2_DoAbility`?

[2015-03-06 03:01] WildCard65 commented on #222
I set to 20 just to give myself assurance that I'm futureproof incase ff2 reserves 1-19 for activation

[2015-03-07 00:11] WildCard65 opened #223 "Switch travis build to use tf2items source instead of binaries"
I extremely belatedly never got around to tell you to switch travis to grab tf2items.inc from tf2items source instead of the binaries. I did this for VSH repo

[2015-03-07 00:50] 50Wliu commented on #223
:+1:

[2015-03-07 02:16] #223 closed

[2015-03-07 02:18] 50Wliu commented on #223
Reminder: Travis is going away for good when I get around to configuring Jenkins to support Github releases.

[2015-03-07 17:41] shadow93 opened #224 "game_text_tf for boss info/hp texts for FF2 v2.0?"
Maybe use game_text_tf for ff2hp / when a player became a boss instead of the center texts for FF2 v2.0?

![2015-03-07_00010](https://cloud.githubusercontent.com/assets/9245131/6542469/1a8e40e0-c4c7-11e4-82df-f1fb39bae9e5.jpg)

![2015-03-07_00008](https://cloud.githubusercontent.com/assets/9245131/6542408/24ce8abc-c4c5-11e4-8bb7-192f9e390a97.jpg)

![2015-03-07_00009](https://cloud.githubuserconten

[2015-03-07 21:00] 50Wliu commented on #224
Yes, it's planned.

[2015-03-09 20:25] WildCard65 opened #225 "Future: Include useful stocks"
Future for ff2, include stocks like SpawnWeapon that surprising some subplugins depend on(like the one for my serpentine boss)

[2015-03-11 02:06] WildCard65 commented on #224
just curious as to why this isn't even tagged with enhancement or y there isn't an "already planned" tag?

[2015-03-11 12:01] 50Wliu commented on #224
I forgot.

[2015-03-12 22:48] shadow93 opened #226 "Update stock bosses CFG Files!!!"
The latest TF2 Patch brings this change:
* Updated sound vo files to use .mp3 files instead of .wav files to reduce hard drive space

Happy CFG fixing.

[2015-03-12 23:40] WildCard65 commented on #226
Also don't forget freak fortress 2's coding.

[2015-03-13 01:04] 50Wliu commented on #226
Fun.

[2015-03-13 01:33] 50Wliu commented on #226
Fixed.

[2015-03-13 01:33] #226 closed

[2015-03-14 22:23] shadow93 opened #227 "New Default HP formula is malformed"
[code]

should be

[code]

otherwise this spits out (i was testing with Saxton)

* [FF2] Saxton Hale has a malformed boss health formula, using default!

[2015-03-15 01:29] 50Wliu commented on #227
Perhaps the `*n-1` should be in parentheses?

[2015-03-15 02:23] shadow93 commented on #227
Doing that in parentheses gives the same error.

[2015-03-15 11:44] WildCard65 commented on #227
Ok, so it's not only happened to me, so I'm going to re-open #221 because this is related to it.

[2015-03-15 11:45] WildCard65 commented on #221
Throwing this into this instead of #227 when I put in some Debug lines, I narrowed the problem to where sum is handled being operated onto sum 1 lower.

[2015-03-15 14:25] 50Wliu commented on #221
I'm going to keep the discussion in #227 for now.  If you could find and fix the problem, a PR would be appreciated :).

[2015-03-15 14:25] #221 closed

[2015-03-17 00:49] #227 closed

[2015-03-17 13:05] shadow93 commented on #227
I'll just leave this here:

![hl2 2015-03-17 09-06-51-732](https://cloud.githubusercontent.com/assets/9245131/6687805/c0758c60-cc84-11e4-8e7c-cb7cfebd87c9.png)

[2015-03-17 13:35] shadow93 opened #229 "sound_fail"
Any boss that has sound_fail, if they win, it will also play sound_fail at the same time since you're not checking if the winning team isn't the boss team if the boss is still alive (other than the check to play sound_win)
:
[code]

Shouldn't it be like this?

[code]

[2015-03-22 00:58] WildCard65 commented on #229
I think this can be closed now

[2015-03-22 01:08] #229 closed

[2015-03-22 16:57] 50Wliu commented on #184
This has been implemented some time ago.

[2015-03-22 16:57] #184 closed

[2015-03-22 17:00] 50Wliu commented on #151
Updated title and body to reflect the discovery of PawnUnit.

[2015-03-22 17:01] 50Wliu commented on #92
This has been fixed.

[2015-03-22 17:01] #92 closed

[2015-03-22 22:55] WildCard65 opened #234 "Hotfix:"
In the open bracket case in ParseFormula. the if size check need bracket+1 instead of only bracket as well as size new size for arrays need to be 1 greater then bracket

[2015-03-23 00:42] #234 closed

[2015-03-26 19:10] shadow93 opened #235 "Random charset vote broken"
Not sure what the random vote is meant to do, but at least in it's current state, it is broken.

Was random meant to select a random charset, or construct a charset of random bosses from the multiple charsets that are specified on charaters.cfg if the random vote was selected?

[2015-03-26 19:47] 50Wliu commented on #235
A random charset.

[2015-03-27 00:48] #235 closed

[2015-03-27 01:37] 50Wliu opened #237 "arg0 broken for values 4-6"
Investigate! :angry: :confused:

[2015-03-27 03:12] shadow93 commented on #237
Good going lol.

[2015-03-28 17:02] shadow93 commented on #212
@50Wliu

Just released said boss which uses both abilities, Sync HUD will need major adjustments so that both charge statuses are visible (current method only shows one or the other, not both like on the screenshots.

[2015-03-29 14:28] 50Wliu commented on #34
So I've thought about this recently when I was messing around with the charset system and I think I have somewhat of a plan worked out:
* [ ] Cache/recache all the config files on every map change (including characters.cfg, maps.cfg, etc)
* [ ] Add a new command `ff2_reload_configs` that will reload all the configs by default or a specific one if specified

This should allow for 1) improved perfor

[2015-03-29 14:31] WildCard65 commented on #138
Ok, my ideas on new config system.
- For things like sounds and abilities, have a section named for what contents is.
  - ability1 will become "abilities" as section name, and "1" being section name for the ability itself.
  - sound_begin will become "sounds" with subsection "begin"
- Have a legacy parser that maps internally to the new config system.
- Deprecate the companion keyword infavour of

[2015-04-02 06:19] #215 closed

[2015-04-15 10:48] WildCard65 opened #243 "OnAbility location where slot isn't passed."
There is 1 location where status replaces slot in OnAbility and that is when the ability is a charge ability.

[2015-04-15 20:45] #243 closed

[2015-04-15 20:56] shadow93 opened #244 "Sapper / Builder Toolbox netprops"
Here's the sapper / builder toolbox netprops. These are required so that the respective weapon can be usable if it's specified as a boss weapon. Same applies to rage_new_weapon / rage_cloneattack

Builder Toolbox
[code]

Spy Sappers
[code]

[2015-04-15 21:02] shadow93 opened #245 "Living spectator bug"
Often, after loading a new map, there's a chance a round starts with a 'living' spectator, and nothing can be done unless i slay all living players or force the round to end. Particularly problematic if the first round starts as a boss round.

[2015-04-16 00:15] WildCard65 opened #246 "Fix up subplugins that are using the bugged OnAbility system."
You forgot that @50Wliu

[2015-04-16 00:21] shadow93 commented on #246
Uh dude...don't forget the numerous other subplugins out there.

With that aside, this change also breaks "lives" as bosses are unable to die since they're permanently stuck at 1HP.

[2015-04-16 00:32] WildCard65 commented on #246
Investigating the 1 hp stick bug.

[2015-04-16 00:35] 50Wliu commented on #246
Oh boy that's fun.  I didn't realize that those changes broke backwards compatibility.

[2015-04-16 00:36] WildCard65 commented on #246
For most subplugins, the PreAbility patch should be ok

[2015-04-16 00:46] shadow93 commented on #246
Define 'most'

[2015-04-16 00:49] WildCard65 commented on #246
TBH idk if any subplugins are using PreAbility(I guess not), so I chose "most" to be on safe side

[2015-04-16 00:50] WildCard65 commented on #246
@50Wliu I found a major issue with OnAbility patch and it's here:
OnAbility=CreateGlobalForward("FF2_OnAbility", ET_Hook, Param_Cell, Param_String, Param_String, Param_Cell);
should be:
OnAbility=CreateGlobalForward("FF2_OnAbility", ET_Hook, Param_Cell, Param_String, Param_String, Param_Cell, Param_Cell);

[2015-04-16 00:53] shadow93 commented on #246
I'll just leave this here.

https://www.youtube.com/watch?v=fM54YwntL5Y

[2015-04-16 00:55] 50Wliu commented on #246
Fixed with 34f8d61bd391ee3b7f1bb94a998945fc68e9b288.

[2015-04-16 00:55] #246 closed

[2015-04-16 00:56] shadow93 commented on #246
Going to test this on my build.

[2015-04-16 00:56] 50Wliu commented on #246
Maybe not fixed.  I have no idea at this point.

[2015-04-16 00:56] shadow93 commented on #246
Sometimes i wonder if WildCard actually tests this stuff before making pull requests.

[2015-04-16 01:00] WildCard65 commented on #246
I didn't make no PR for the OnAbility stuff

[2015-04-16 10:46] WildCard65 opened #248 "TODO for 2.0.0"
Remove slot from PreAbility and OnAbility.
What's the point of the slot var when arg0 is the slot?

[2015-04-16 12:15] 50Wliu commented on #248
Convenience.

[2015-04-19 08:53] argos76 opened #250 "FreakFortress crash my server"
I have this problem with freakfortress2_mod
The server goes down to end the round or in login.
If I do not kill the process with kill -9 the server can not restart because the port is in use. The crash only there to load the plugin of freakfortress2.

My hardware:
Processor: i7-4930k, 4300mhz, 6cores / 12threads.
RAM: 16GB / 2400mhz.
SO: Ubuntu 14.10 / 64Bits.

Setting breakpad minidump AppID = 23

[2015-04-19 16:15] WildCard65 commented on #250
Install accelerator and then give us a dump link.

[2015-04-19 16:35] 50Wliu commented on #250
`ERROR: Port 27015 was unavailable - quitting due to "-strictportbind" command-line flag!`

[2015-04-19 16:37] 50Wliu commented on #250
Also, update TF2Items to at least 1.6.1-263

[2015-04-20 02:39] argos76 commented on #250
thanks for quickly responding. the version that I have installed of TF2Items is 1.4.1. I was watching the website but I can not find a package to the upgrade, and am not sure how to compile this. you can guide me? I'll see accelerator, and add more information tomorrow.

[2015-04-20 12:02] 50Wliu commented on #250
https://builds.limetech.org/?p=tf2items

[2015-04-20 15:35] argos76 commented on #250
Thank you 50Wliu, update TF2Items have solved my problem.

[2015-04-20 17:13] #250 closed

[2015-04-21 01:43] 50Wliu commented on #245
Not fixed.

[2015-04-21 02:06] WildCard65 commented on #245
I think the issue might be that their being moved to teams too fast for the game to register them as dead. I think they may also have a class of TFClass_Unknown(0). I think a plausible fix is to in OnGameFrame check for living spectators and if one is detected, force a stalemate, increase mp_maxrounds by 1(to compensate for loss round), if it's a normal arena round, kick it into ff2, otherwise, do

[2015-04-21 02:20] shadow93 commented on #245
Here's the interesting thing, when you do a GetPlayerClass and a GetClientTeam check, it reports back as the correct class and team, despite being a living spectator.
[code]

[2015-04-21 02:35] WildCard65 commented on #245
There goes my theory then. PLAN B! Find the matching player entity in world?

[2015-04-21 03:29] shadow93 commented on #245
[code]

[2015-04-22 17:17] shadow93 opened #251 "OnSpecialSelected issues"
With boss selection, which heavily relies on this forward, whenever you try to select a variant of a specific boss, it will pick the first one, instead of the variant the player chooses.

For example, if you have solo and duo versions of the same boss, whichever is listed first on characters.cfg on the same charset gets picked instead of the desired variant (unless you force it with ff2_special, w

[2015-04-22 20:21] 50Wliu commented on #251
Hmm, we should probably check for an exact name first.

[2015-04-24 22:52] 50Wliu opened #252 "Investigate BossInfoTimer"
I don't ever remember seeing this in action.
* What does it do?
* That `Plugin_Stop` if a boss isn't using an ability seems suspicious-the timer never gets started up again
* Is it still needed?

[2015-04-29 13:47] Michal1324 opened #253 "Not working custom abillity pack becuase of the speed check thats in ff2"
Something like this won't work

BossSpeed is 170

new client2=GetClientOfUserId(FF2_GetBossUserId(boss));
SetEntDataFloat(client2, FindSendPropInfo("CTFPlayer", "m_flMaxspeed"), 400.0, true);

after working rage the speed was the same.

Will it be fixed some time ?

[2015-04-30 19:08] M76030 opened #254 "Admin only Boss"
Hello there, i just have a question,
its that i have 2 hales that should be admins only, but i dont know how to make it so only admins can choose these hales.

[2015-05-02 19:34] 50Wliu commented on #253
This one is especially tricky.  FF2 doesn't allow maxspeed to be changed right now and it's going to take some work in order to get it to cooperate.
You're not the only one who wants this; sarysa also needs it for a couple of abilities.

[2015-05-02 22:18] WildCard65 commented on #253
I may eventually need this also in the far future.

[2015-05-04 15:16] #254 closed

[2015-05-04 16:35] shadow93 commented on #253
I just use OnGameFrame as a workaround to this, and an array-based int and bool.

primitive, but works.

[code]

[2015-05-05 03:59] shadow93 opened #255 "Investigate OnTakeDamage / event_hurt"
Looks like the latest TF2 update might have messed up FF2's OnTakeDamage or event_hurt.

I already disabled non-essential plugins and subplugins hoping it was just an isolated issue, then only ran the stock subplugins with my ff2 fork, then ran the stock subplugins with stock ff2, only to replicate the same exact issue with weapons that deal explosive damage.

Bullet, Fire and melee damage work ju

[2015-05-05 05:31] #255 closed

[2015-05-25 17:32] Pyromachine22 opened #256 "Problems with Tf2Items 1.6.1"
Hi, i have problems with tf2 items, the new version, 1.6.1 isn't detect by my server, and previous version doesn't work with freak fortress 2, can someone help me ?
Did someone know how to install it propely one the server ?

[2015-05-25 19:12] 50Wliu commented on #256
Please keep this on the forums.

[2015-05-25 19:12] #256 closed

[2015-05-25 21:26] #251 closed

[2015-05-25 22:14] shadow93 commented on #251
Well only 50% fixed since 'ff2_special' still gets overriden, but the other half is fixed.

[2015-05-30 14:08] shadow93 opened #258 "I'm pretty sure this should be in the translations file as opposed to being hardcoded..."
One wonders why the goomba stomp texts are hardcoded and not in the translations file...

note the hardcoded goomba stomp/stomped text?

[code]

[2015-06-04 11:37] M76030 opened #259 "Bugs with Companions"
Well, when i was on my server i had these bugs with the companions:

1. They always have 1 lives, even if i set in their configs more lives:
for example my F2P Demoman and Soldier Duo, while the Soldier one has 2 lives (hes the first boss), the Demoman has only 1 life even if it says 2 lives in his config

2. The Companions spawns with no Weapon and as a Scout:
When i was on my server to play just

[2015-06-04 14:38] dany777 opened #260 "Freak Fortress 2 1.10.5 on lastest TF2 update crash"
This plugin is broken, everytime when a round start of FF2, the server crashes

Version of Sourcemod: 1.7.3-git5210
Version of Metamod Source: 1.10.6-git940

[2015-06-04 14:52] 50Wliu commented on #260
No it isn't.
You need TF2Items 1.6.1.

[2015-06-05 00:11] dany777 commented on #260
And so, my problem is now solved, thank you

[2015-06-05 00:25] #260 closed

[2015-06-05 02:08] shadow93 commented on #259
YES.

THIS IS EXACTLY THE BUG IM DEALING WITH!

[2015-06-05 02:11] shadow93 commented on #259
#1 can be easily reproduced on my server.
#2 is a result of MakeBoss not firing for the companion.

[2015-06-06 03:10] shadow93 commented on #259
It looks like FindCompanion is derping somewhere

[2015-06-06 03:13] shadow93 commented on #259
From the looks of it, ParseFormula might be derping for companions for the HP issue.

[2015-06-07 21:12] 50Wliu commented on #198
I've changed the title to "Require Sourcemod 1.8" because 1.8 includes a bunch of beneficial features that FF2 could really use, such as the new `-E` compiler flag (or is it `-e`?) that treats all warnings as errors (useful for CI); `TF2_{Get|Change}ClientTeam`, enhanced newdecl support, etc.

[2015-06-09 00:56] 50Wliu commented on #213
Closing as there hasn't been a response.
@joshuagregoria if you're still having this problem please feel free to comment and I'll reopen.

[2015-06-09 00:56] #213 closed

[2015-06-09 21:03] WildCard65 commented on #258
I believe when I made the basic support I had no clue how translations work.

[2015-06-09 22:29] WildCard65 opened #261 "Problem who's fix just made worse"
https://github.com/50DKP/FF2-Official/commit/71e34c1d65ac875e9e030f1745b13d5e5c80e0d2 just made a minor problem much more worse by introducing a constant 0 to when ever it occurs. That and it has a redundant way of detecting left over operator.

[2015-06-09 22:39] WildCard65 commented on #261
I'll leave an example of how things will explode with forcing 0 on lingering operators.
(760*n)*)/2 = 0/2 = 0

[2015-06-09 23:27] shadow93 commented on #261
.....

[2015-06-09 23:47] 50Wliu commented on #261
No it wouldn't.  What would actually happen is it would become n/2.
Here's my reasoning:
* Bracket becomes 1 upon reaching `(`
* 7, 6, and 0 are appended to `value` making it 760
* `n` is operated on using `Operator_None`
* `Operate()` sets bracket 1's value to `n` because of `Operator_None`, *completely ignoring 760*
* Bracket becomes 0 upon reaching `)`
* Divide by 2

Correct me if I'm wrong.

[2015-06-09 23:53] WildCard65 commented on #261
@50Wliu What you described is 100% impossible.
This is what suppose to happen:
* bracket = 1
* 7, 6, 0 is appended onto value making it read 760
* Parser comes to * forcing it to call OperateString while _operator is Operator_None forcing Operate to just set sumArray at 1 to 760.0. Then it stores the * as the operator.
* n is parsed and calls Operate with playing, it uses the * operator on 760.
*

[2015-06-10 00:00] 50Wliu commented on #261
Fixed by https://github.com/50DKP/FF2-Official/commit/7ae9c26b77fe0bfbc19873fc23bb6a8f1561166a.

[2015-06-10 00:00] #261 closed

[2015-06-10 04:59] shadow93 opened #262 "Latest build causes memory leaks (ParseFormula changes)"
This is pretty much self-explanatory due to the latest changes regarding ParseFormula

[code]

[2015-06-10 11:51] WildCard65 commented on #262
That can be solved by closing AdtArrays before returning the default value.

[2015-06-10 11:53] WildCard65 commented on #262
@50Wliu definitely at fault for this.

[2015-06-10 11:55] 50Wliu commented on #262
Yes, I know, but I can't change it right now.

[2015-06-11 18:06] shadow93 commented on #262
Closing AdtArrays still doesn't stop the memory leaks though.

[2015-06-11 21:20] #262 closed

[2015-06-11 21:21] 50Wliu commented on #259
I believe I've already fixed issue 2 (at least, I just had a companion bot spawn fine).
Trying to pinpoint what's going wrong with 1).

[2015-06-13 16:47] sarysa opened #263 "Public method analogues for existing natives"
As I've mentioned before, there are a lot of forks for FF2. When new features get added, I can't take advantage of them in my subplugins because they don't exist on the fork I primarily write for. The typical solution for this is to use reflection, but only public methods with standard parameters can use reflection. Natives with everything hidden inside a Handle cannot. So the request is for nativ

[2015-06-13 17:11] 50Wliu commented on #263
Interesting idea.  I can easily see this being used within FF2 as well to get rid of some KvGet* calls to boss values.

[2015-06-16 04:54] shadow93 opened #264 "Any way to reliably get the boss's current health on their current life?"
FF2_GetBossHealth(boss) only gives me the current TOTAL health of the current boss, whereas i need to retrieve the boss's current HP in their current life.

Say i have a 3 life boss that spawns 3000 HP per life and on the first life, i have 1500 HP of 3000 HP left.

Using FF2_GetBossHealth(boss) will only return me 7500 HP (total boss health) instead of 1500HP on the current life.

So any way? Sin

[2015-06-16 11:10] 50Wliu commented on #264
`FF2_GetBossHealth/FF2_GetBossLives`?

[2015-06-16 17:47] shadow93 opened #265 "Pickups flag may not be working correctly....."
Ironically, the only boss the flags were working for was for Easter Bunny, yet any other boss with any of the pickups flag, it wouldn't work properly....

Until i changed this:
**NEW**
[code]

**OLD**
[code]

[2015-06-16 17:49] shadow93 commented on #264
Tried that, but doesn't give me the CORRECT current health lol

[2015-06-16 21:49] 50Wliu commented on #264
`FF2_GetBossHealth - (FF2_GetBossMaxHealth * (FF2_GetBossLives - 1))`
7500 - (3000 * (3-1)) = 7500 - (3000 * 2) = 7500 - 6000 = 1500

Something annoying to note (which will be fixed): `BossHealth` doesn't care about lives, while `BossMaxHealth` is per-life.

[2015-06-16 21:49] #264 closed

[2015-06-18 21:24] 50Wliu commented on #259
I can no longer reproduce any of these issues.  @M76030, @shadow93 can you confirm?

[2015-06-20 04:35] shadow93 commented on #259
Can no longer reproduce the companion lives bug anymore.

[2015-06-20 14:28] 50Wliu commented on #259
Closing this then until I get feedback that this is still broken.

[2015-06-20 14:28] #259 closed

[2015-06-20 15:35] 50Wliu commented on #164
Progress had been made.
Now all that needs doing is the ability to specify special values other than `n` and `x` for amount of players.

I imagine the new system being something like `{players}`, `{health}`, etc. so that a formula could look like `({health}/10 + ({players}*3.4)) + 300)`.

[2015-06-20 15:37] 50Wliu commented on #253
`BossSpeed` is no longer scoped to the character itself and is now per-boss, so a tiny bit of progress has been made.

[2015-06-20 22:07] Deathreus commented on #164
I second this as an option, I had wanted to make something like this for speed, but the formula is internal, and calculates the speed from "speed" config to apply it as an attribute, this would allow speed overrides very simply

[2015-06-20 22:22] shadow93 commented on #164
Same here

[2015-06-21 00:55] 50Wliu commented on #164
Speed is obviously the most complicated out of all the config values.  I'll probably ask for @sarysa's help on this one.

[2015-06-21 01:22] 50Wliu commented on #164
So this should *technically* work now for `health` (RENAMED FROM `health_formula`), `speed` (ALSO RENAMED), and `ragedamage`.  Which means that everything will break horribly and not work, because when have I written anything that works on the first try?
`ragedist` will come soon.

Also, regarding the new `FF2_OnParseUnknownVariable` forward:
This allows plugin authors to create their own variable

[2015-06-22 19:18] shadow93 opened #266 "Enum for BossTypes"
For v2.0, we should use an enum for determining the BossType of a player.

Something like

[code]

[2015-06-26 05:21] shadow93 commented on #245
Seems to have resurfaced again.

On another note, this might be able to help us to check if a living player is TRULY a living spectator:
[code]

[2015-06-29 17:22] M76030 opened #267 "No cooldown on both charge_bravejump and charge_teleport"
Hi there,

I just wanted to report another bug
When i was hale, i could teleport and super jump without any cooldown
Also when i was the first hale on the map, both the theme and the intro sound played all, which means that all the intro sounds and themes played at the same time and the theme didnt end after the round

I am using version 1.10.6 from github and the latest versions of SM and MM, the

[2015-06-29 17:51] EvanGarreth commented on #267
6ecffb3b4a0f3fceb1c5cf096b922cb78fe8ddc0 is the cause of the cooldown issue, as the charge seems to purposely turn negative and return up to 0.0 to function as the cooldown.

[2015-06-29 18:01] #267 closed

[2015-06-29 18:03] 50Wliu commented on #267
Thanks @EvanGarreth for the cooldown fix and @M76030 for the particle issue!

[2015-06-29 19:21] 50Wliu commented on #219
Can't reproduce.  If someone can repro this consistently on an unmodified version of FF2 please comment here.

[2015-06-29 19:21] #219 closed

[2015-06-30 11:58] M76030 commented on #237
Sooooo, any progress?

Btw, how is slot0 broken?

[2015-07-01 00:45] 50Wliu commented on #237
From maximilian_:

And no, I haven't had a chance to look at this yet.

[2015-07-02 15:07] shadow93 opened #268 "Prepare for Gun Mettle Update"
The Gun Mettle update will bring in a few game-breaking changes, the most important of them all being that the update will allow players to pick up fallen weapons and use them...

...which will be a problem if a boss happens to pick up a fallen weapon that their class can equip.

Unless the same code that prevents ammo pickups would also prevent this.

1.10.7 confirmed lol.

[2015-07-02 16:24] 50Wliu commented on #268
^1.10.6 isn't even out yet :wink:.

[2015-07-02 18:46] Deathreus commented on #268
As a bit of balance prevention, me and a fellow dev for a community modified all the weapons that are going to be changed, giving them their old attribute values

[2015-07-02 22:12] shadow93 commented on #268
Remember to block the action slot item command for bosses:
[code]

[2015-07-03 02:51] Spyro10g commented on #268
Where do i put this?  ^

[2015-07-03 04:23] shadow93 commented on #268
And Valve decided to make mediguns a complete clusterfuck so i just went and said fuck it.

[code]
	// Thanks valve, for making mediguns a complete clusterfuck to deal with since the Gun Mettle update...
	if(!StrContains(classname, "tf_weapon_medigun") && (index!=35 || index!=411 || index!=998))
	{
		new Handle:itemOverride=PrepareItemHandle(item, _, _, "10 ; 1.25 ; 178 ; 0.75 ; 144 ; 2.0 ; 11 ; 1

[2015-07-03 07:05] Starblaster64 commented on #268
@shadow93
The second method for dropped weapons you presented isn't needed, just change 'tf_dropped_weapon_lifetime' to 0.

[2015-07-03 13:44] Duke2000 opened #270 "ERROR FF2 ! PLZ HELP!!!!"
I go on your server and is the first round and after the round the server crashes! What do I do?Please help!

[2015-07-03 14:36] 50Wliu commented on #268
It's already in the latest 1.10.6 beta (build 225 on Jenkins I believe).  If you want to do it yourself place it in OnEntityCreated().

[2015-07-03 14:37] 50Wliu commented on #270
Update TF2Items.

[2015-07-03 14:37] #270 closed

[2015-07-03 14:45] Duke2000 commented on #270
Где обнавление скачать?

[2015-07-03 14:47] Duke2000 commented on #270
where to say update?

[2015-07-03 15:18] Spyro10g commented on #268
Alright. Is there anyway I can get the 1.10.6 beta? Also is it cfg/sourcemod/ff2?

[2015-07-03 15:24] 50Wliu commented on #268
http://ff2.50dkp.com/jenkins/job/FF2/SMVERSION=1.7/
Could you clarify a bit about the cfg part?

[2015-07-03 15:32] Spyro10g commented on #268
nvm and do I download  Last Successful Artifacts?

[2015-07-03 15:53] Spyro10g commented on #268
I added the 1.7 and it still crashes.

[2015-07-03 16:40] Deathreus commented on #270
https://forums.alliedmods.net/showpost.php?p=2314632&postcount=2049

[2015-07-03 17:21] shadow93 opened #271 "Spy cloaks are one-hit death sentences."
Ever since yesterday's TF2 patch, it literally broke spy cloaks on FF2.

Now they're one-hit death sentences for any unfortunate spy that uses any cloak, especially the dead ringer.

[2015-07-03 17:40] 50Wliu commented on #268
TF2Items 1.6.2.

[2015-07-03 17:40] 50Wliu commented on #271
Will be addressed in the weapon rebalancing.

[2015-07-03 19:25] shadow93 commented on #271
This fixes the death sentence cloaks:

[code]
			switch(TF2_GetPlayerClass(client))
			{
				case TFClass_Spy:
				{
					if(GetEntProp(client, Prop_Send, "m_bFeignDeathReady") && !TF2_IsPlayerInCondition(client, TFCond_Cloaked))
					{
						if(damagetype & DMG_CRIT)
						{
							damagetype&=~DMG_CRIT;
						}
						damage=124.0;
						return Plugin_Changed;
					}

					if(TF2_IsPlayerInCondit

[2015-07-03 19:27] shadow93 commented on #268
And to save yourself from the clusterfuck of code involved for sniper rifles:
[code]

[2015-07-03 21:00] Starblaster64 commented on #271
Noo, you took the wrong commit. This was a silly way of doing it, use the second cloak related commit I made. Since the DR buff is constantly refresheshed on Invisi watch users (FF2 does that with client timer too right?) the damage reductiom scaling over time doesn't matter.

Unless you purposely used the first method for some reason, that is.

[2015-07-03 21:15] 50Wliu commented on #271
Any chance you could paste the correct code here? :smile:

[2015-07-03 21:22] shadow93 commented on #271
Oh i only changed the values of the damage itself to the VSH commit values

[2015-07-03 21:25] shadow93 commented on #268
More clusterfuck for SMG's and Pistols:

ClientTimer
[code]

				// SMG & Reskins (except Cleaner's Carbine)
				GetEdictClassname(weapon, classname, sizeof(classname));
				if(!StrContains(classname, "tf_weapon_smg") && index!=751)
				{
					addthecrit=true;
				}

				if(!StrContains(classname, "tf_weapon_pistol")) // Pistol & Reskins (Scout & Engy)
				{
					addthecrit=true;
					if(class==TF

[2015-07-03 22:10] #271 closed

[2015-07-05 14:59] Starblaster64 commented on #271
Just want to quickly point out that, after some in-game tests, the Dead Ringer damage reduction doesn't scale over time, it scales depending on how full your cloak meter is, so unless you want Spies to start taking more damage after their cloak drops below 50%, I'd suggest coming up with a different method of damage reduction.

[2015-07-06 21:54] sarysa commented on #268
This is also on the forums, but my proposal for the spy fix:

https://github.com/sarysa/diffposting/commit/da4d912956b5a1af11abe966b38e8c317ba1af64

There is one side effect I found in testing, and it's that FF2's low damage tripling isn't applied until after this point, which causes bleed/fire damage to not be tripled (not that I consider this a bad thing, heh) but also since it seems the intenti

[2015-07-06 22:56] 50Wliu commented on #268
I'm going to keep everything hardcoded for v1 because it seems a bit inconsistent to only allow some variables to be changed and not others.

Still mulling over the other changes though.  Weapon balancing is tricky :(

[2015-07-07 12:47] M76030 opened #272 "Some bugs"
Well, good day,

I have some bugs to report:

1. this will happen when a player gets summoned
L 07/07/2015 - 14:16:28: [SM] Native "GetEntPropString" reported: Entity -1 (-1) is invalid
L 07/07/2015 - 14:16:28: [SM] Displaying call stack trace for plugin "freak_fortress_2.smx":
L 07/07/2015 - 14:16:28: [SM]   [0]  Line 734, \\Wobre\TF2 Source\Sources\scripting\include\entity.inc::GetEntityClassnam

[2015-07-08 00:33] 50Wliu commented on #265
Reproduction failed on the test server, so I'm going to close this for now.

[2015-07-08 00:33] #265 closed

[2015-07-10 03:43] shadow93 opened #273 "Backstabs penetrating through all lives when HP <= 2K"
The "[bossname] lost a life [lives] lives remain!" hud text still pop up as normal, but the backstab damage penetrates through ALL the boss's lives, making backstabs a one-hit kill.

Shortly after that, this is how /ff2hp reports the affected boss's HP:
![2015-07-09_00005](https://cloud.githubusercontent.com/assets/9245131/8611768/0c4dba40-2694-11e5-9731-01f5d9ad0247.jpg)

[2015-07-10 04:12] Deathreus commented on #273
This sounds to be due to how poorly lives was actually handled, it calculates lives as the full health, and reads the lives based on health left, a backstab will hit for the full health he normally would have, and this radical change in life is misread in the lives and actually kills him before the lives can respond

[2015-07-10 16:45] #272 closed

[2015-07-11 06:19] shadow93 commented on #268
I just noticed that sniper rifles no longer get critboosted since at least 1.10.5 or so....

..while description says that all Sniper weapons are critboosted (except carbine / Cozy Camper SMG)

[2015-07-11 22:45] 50Wliu commented on #268
Yeah, so did I.  They still do 150 damage though...*shrugs*

[2015-07-12 02:14] Starblaster64 commented on #268
In 67ee121, line 4627, you've unintentionally made the Shortstop minicrit boosted. Change it to 'tf_weapon_handgun_scout_secondary' to fix.

[2015-07-12 08:59] Starblaster64 commented on #268
Speaking of rifles, the Sydney Sleeper is extremely broken right now. Because you've set FF2 to simply check if the Jarate condition is added, the Sydney Sleeper removes 8% every scoped shot.

[2015-07-12 13:55] 50Wliu commented on #268
@Starblaster64 both fixed.  For some reason the additional info in the commit message didn't go through and reference this issue.

[2015-07-13 00:28] 50Wliu commented on #268
Just fixed.

[2015-07-13 00:29] 50Wliu commented on #268
Closing since I think everything's updated.

[2015-07-13 00:29] #268 closed

[2015-07-13 00:48] 50Wliu commented on #273
...and once again my extra commit info didn't go through.

[2015-07-13 00:54] 50Wliu commented on #273
Never mind, not fixed.

[2015-07-13 01:51] 50Wliu commented on #273
So TF2 is being annoying somewhere.

[2015-07-13 05:11] Starblaster64 commented on #268
Not quite, cloak still isn't 100% fixed. Speed boosts are being constantly applied to Invisi-watch spies because it's automatically added when the Dead Ringered condition is added.
If you want cloak to behave like it did before the Gun-Mettle update, you'll have to remove the part where the two cloak types are swapped, and change the cloak resistances with CVARs, like what I did in 32be56d for VSH

[2015-07-14 01:45] 50Wliu commented on #268
What was the resistance before Gunmettle?

Kinda.  I want to see how it plays out and then adjust accordingly.

[2015-07-14 03:31] Starblaster64 commented on #268
0%, invisi-watches didn't grant bosses any damage resistance unless it was set in an ability subplugin or something. Also sort of related, from what I understand, bosses with the Dead Ringer just die when they trigger the feign death, but I remember this not always being the case (see [Koishi Komeiji](http://en.touhouwiki.net/wiki/Koishi_Komeiji)).

[2015-07-15 01:03] #273 closed

[2015-07-16 10:55] Bonkorn opened #274 "TF2 Server Crashed"
My TF2 Server crashed on round end at first round... FF2 Plugins works
Plugins used:
Amplifers
TauntCrits
Goomba
ThirdPerson View
Updater
TF2Attributes
TF2Items
FunCommandsX
FF2 v1.10.5
TF2x10 v1.4.3
Does the Plugins Above affects?

[2015-07-16 11:16] Bonkorn commented on #274
i fixed it now... no need to reply..

[2015-07-16 16:53] #274 closed

[2015-07-16 23:23] 50Wliu commented on #265
Was actually a conflict with friagram's `pickups.ff2` subplugin.

[2015-07-17 00:54] shadow93 commented on #263
We really could seriously make good use of this.

[2015-07-17 03:22] shadow93 opened #275 "Implement file checking for downloads"
I know you might probably set this aside to v2 but i think it would be better that we implement this for v1.10.6

We should really check if a file exists for boss config files before we try to add it to the downloads table, as it can be annoying attempting to download non-existent files, and can be time consuming for some clients, or in rare cases, causes the server to crash (this is especially tr

[2015-07-17 04:13] WakaFloockaFlame commented on #275
Ya i agree if anyone knows the code to fix that issue go ahead and paste it here

[2015-07-17 13:22] 50Wliu commented on #275
You've convinced me.

[2015-07-18 01:12] Deathreus commented on #263
I agree 100% even though I don't really use a forked version

[2015-07-18 01:15] Deathreus commented on #275
Thank god, we've been needing this

[2015-07-18 02:26] AliceTaylor opened #277 "spectator boss issue"
sorry i'm korean. my english is bad. :(

if someone who join team but didn't select class plays boss, it happen. spectator boss but round keep going.

so you make sure to check in GetClientWithMostQueuePoints

[2015-07-18 05:25] shadow93 commented on #277
It's a living spectator issue.

It can be checked with the spectatormode netprop

[2015-07-18 08:42] Derik555 opened #278 "Round start crash"
So whenever i load a map and the round starts the game just freezes for like 3 secs then closes here is an error log

[SM] Native "CreateNative" reported: Fatal error creating dynamic native!
L 07/18/2015 - 10:36:01: [SM] Displaying call stack trace for plugin "saxtonhale.smx":
L 07/18/2015 - 10:36:01: [SM]   [0]  Line 649, C:\Users\Anne\Desktop\Stuff\PATH\sourcemod1.6\saxtonhale.sp::AskPluginLoad

[2015-07-18 12:50] WildCard65 commented on #278
That is a question for https://github.com/WildCard65/Versus-Saxton-Hale

[2015-07-18 15:22] 50Wliu commented on #277
Are you using 1.10.6?

[2015-07-18 15:22] #278 closed

[2015-07-18 19:27] WakaFloockaFlame opened #279 "FF2 1.10.6 Does not work at all"
1.10.6 broke i see this in compile log after compiling 1.10.6 and yes i have the latest Freak fortress 2 inc file here's the compile errors http://puu.sh/j3YCO/4c700d9b14.png

[2015-07-18 19:53] shadow93 commented on #279
You had an extra parenthesis where it shouldn't have been.

[2015-07-18 21:08] shadow93 commented on #275
Closing this, as it has been implemented

[2015-07-18 21:08] #275 closed

[2015-07-18 23:21] WakaFloockaFlame commented on #279
Ya it's ok i fixed it thanks

[2015-07-18 23:47] AliceTaylor commented on #277
yes

[2015-07-19 00:43] shadow93 commented on #277
The bug is a result of attempting to spawn while suddenly changing from spectator and one hasn't properly picked a class, therefore, "m_iObserverMode" returns a value between 4-6, which can be checked with this stock.

[code]

[2015-07-19 03:15] AliceTaylor commented on #277
thanks for your code shadow, i'll try it.

[2015-07-19 15:12] #279 closed

[2015-07-20 18:20] shadow93 opened #281 "First boss selection returns a random boss"
Somewhere along the line during 1.10.6's updates, one of the changes rendered the first boss of choice unusable as it yields a random boss instead of the boss selected.

As Seeman/Seeldier Duo are the first boss selection on the test server, they are now unpickable because of this.

Reproduced using the old FF2Boss and my updated FF2Boss, and it's a 1.10.6 related issue, as 1.10.5 and below, the f

[2015-07-20 19:51] Deathreus commented on #281
Have you considered something you done might be the cause? You did alot of changes with config caching, and it sounds like this started at about the time you made such changes

[2015-07-20 20:34] DarkBladeSpy opened #282 "srcds Crashes upon enabling FF2 (new server)"
I followed the instructions on AlliedMods and ran my server. I typed "tf_bot_quota 1" to start the Game. The first round was arena on arena_badlands since it said the first round was going to be arena. The Server crashed after that first round every time I started it. I tried Re-installing all Of the important server folders and put them in place. It still crashed. Any ideas?

[2015-07-20 21:31] 50Wliu commented on #282
TF2Items 1.6.2.

[2015-07-20 21:31] #282 closed

[2015-07-20 21:50] shadow93 commented on #281
The bug started during one of the updates in May, long before Gun Mettle / strict file check implementations

[2015-07-20 21:50] shadow93 commented on #281
I wonder if it has something to do with a change Wliu did a while back to PickCharacter (reversing boss / companion to what it should be)

[2015-07-20 21:53] shadow93 commented on #281
The bug dates back from April-May, long before the GunMettle changes.

[2015-07-21 23:36] WildCard65 commented on #281
And your only reporting this now?

[2015-07-24 20:46] 50Wliu commented on #277
Closing in favor of #245.

[2015-07-24 20:46] #277 closed

[2015-07-25 06:47] shadow93 commented on #281
I thought it was isolated to my fork but when i was trying !ff2boss on the public FF2 test server, it reproduced that same bug.

[2015-07-28 04:57] Jmarthegamer opened #283 "FF2 Server crashing bug on lates version whenever my server is done running the arena round it crashes as soon as the freak fortress round starts"

[2015-07-28 07:15] shadow93 commented on #283
Check TF2Items version.

[2015-07-28 13:16] 50Wliu commented on #283
Install TF2Items 1.6.2.

[2015-07-28 13:16] #283 closed

[2015-07-29 03:18] shadow93 opened #284 ""companion" section now case sensitive?"
Since when has the "companion" keyvalue become case sensitive? Before, it wasn't case sensitive.

As a result, it ends up picking the wrong companion because of the case sensitivity, it's treating the keyvalue specified as if it didn't exist.

Can be reproduced on the FF2 test server with the Redmond/Blutarch Duo config.

![2015-07-28_00012](https://cloud.githubusercontent.com/assets/9245131/89493

[2015-07-30 22:59] shadow93 commented on #284
Oh hey, it was missing a "false" on the StrEqual statement which was causing this issue in the first place.
[code]

[2015-07-31 00:06] 50Wliu commented on #284
Isn't fixed yet.

[2015-07-31 05:19] Deathreus commented on #284
The false argument was already there though :s

[2015-07-31 13:11] 50Wliu commented on #284
Now it's fixed :P.

[2015-07-31 13:11] #284 closed

[2015-08-02 05:37] Starblaster64 opened #286 "Baby Face's Blaster attribute error"
The `hype resets on jump` attribute is set incorrectly, it's currently removing 1 unit of hype per double/triple jump. I'm going to assume the intention was to remove the entire hype meter on an air jump, so just changing `419 ; 1` to `419 ; 100` should be fine.

Also on the topic of the BFB, why does it not retain its 10% movespeed penalty? It seems rather powerful in its current state.

[2015-08-02 05:45] Starblaster64 opened #287 "Market Gardener receiving crits"
In VSH the Market Gardener is excluded from receiving melee crits (until last man standing) because of its ability to MG-stab bosses, which FF2 has adopted. It's not a terribly game breaking issue, but it does affect its balance in a small way in FF2 (mostly in terms of knockback, and effectiveness against minions).

[2015-08-03 00:42] shadow93 commented on #286
Intentional.

Meant to revert a BFB user to normal scout speed if meter is fully drained out as the meter drains out constantly.

[2015-08-03 01:43] 50Wliu commented on #286
Soo...should I change the jump attrib or leave it be?

[2015-08-03 01:44] 50Wliu commented on #287
I remember thinking to do this one day, and then promptly forgetting about it.  Thanks.

[2015-08-03 03:12] shadow93 commented on #287
I just simply allow it to crit ONLY if you're blast jumping (when it's non-last man crits). Also makes it easier to tell if you're able to perform a MG-stab successfully.

[2015-08-04 22:39] #287 closed

[2015-08-05 00:50] #281 closed

[2015-08-05 01:10] 50Wliu commented on #245
This has been fixed by the linked PR.

[2015-08-05 02:11] shadow93 commented on #286
set to 419 ; 100

[2015-08-05 16:34] M76030 opened #288 "Companions dont use their sounds"
Well, like the title says

When there is a duo boss, the second boss (the companion) doesnt use his/her sounds at all

Using the latest version of SM and MM aswell as the latest version of FF2

[2015-08-07 00:29] #286 closed

[2015-08-07 22:49] 50Wliu commented on #286
Wrong reference, meant #288.

[2015-08-07 22:51] #288 closed

[2015-08-08 01:03] 50Wliu commented on #237
I can't reproduce this with Easter Bunny, which @maximilianrob suggested for me to use.

[2015-08-08 01:03] #237 closed

[2015-08-08 01:40] 50Wliu opened #289 "AIOOB errors when using chances"
Reported on the forums: https://forums.alliedmods.net/showthread.php?t=267820

[2015-08-08 02:07] Deathreus commented on #289
This has been long standing in TFF's fork, it doesn't matter the size of the string, it's always out of bounds

[2015-08-09 20:27] 50Wliu commented on #289
Fixed.

[2015-08-09 20:27] #289 closed

[2015-08-09 20:29] 50Wliu commented on #245
Guess what, still not fixed.

[2015-08-09 20:30] 50Wliu commented on #245
Also, for your stock, I'm guessing that a value of 3 means that you're spectating the map.

[2015-08-09 20:32] shadow93 commented on #245
Updated the stock with the one i use in my FF2.

[2015-08-09 20:38] #245 closed

[2015-08-13 14:23] shadow93 opened #290 "Companion Lives Bug resurfaces again"
I guess FF2 v1.10.7 confirmed?

![2015-08-13_00003](https://cloud.githubusercontent.com/assets/9245131/9252230/53ae2be6-41a5-11e5-8a8f-f8837274a059.jpg)

Also reproduced on test server:
![2015-08-13_00004](https://cloud.githubusercontent.com/assets/9245131/9254585/52b59a64-41b2-11e5-9bc6-6a5a7c2873d8.jpg)

[2015-08-14 05:43] Starblaster64 opened #291 "Shortstop reload penalty not being removed"
The Shortstop is currently commented out in `TF2Items_OnGiveNamedItem` under the assumption that the Shortstop's reload penalty was intentionally removed, which was not the case. I would recommend uncommenting it and in addition change attribute `328` *(disable fancy class select anim)* to attribute `241` *(reload time increased hidden)* and set it to not override the other Shortstop attributes.

[2015-08-20 07:29] 50Wliu commented on #290
Refs #259.

[2015-08-20 07:45] #291 closed

[2015-08-20 08:23] Starblaster64 commented on #291
The `241` attribute is a percentage, fbee13f just gave the Shortstop a 100% increase in reload speed.

[2015-08-21 05:43] 50Wliu commented on #291
Ugh.  I had to redo the commit after a Git conflict and it looks like I forgot my previous changes.

[2015-08-25 15:50] #290 closed

[2015-08-25 15:53] 50Wliu commented on #290
You probably can't see it in all the debug additions and removal, but the fix was a simple `KvRewind(BossKV[Special[companion]])` before all the `KvGet*` functions in `FindCompanion()`.

[2015-08-27 23:18] Spyper12 opened #292 "Balanced backstab formula (under 10 players)"
If there is 10> players backstab formula should be 1/n
9 players = backstab damage : 1/9  hp of boss
8 players = backstab damage : 1/8 hp of boss
2 players = backstab damage : 1/2 hp of boss
1 player   = backstab damage :  1/1 = all hp of boss

[2015-08-27 23:20] Spyper12 opened #293 "Infinite Rage"
Even if i set rage damage to 0 boss stil needs to take damage.

[2015-08-27 23:58] 50Wliu commented on #293
Can you elaborate please?  Do you mean that you never want the boss to rage?

[2015-08-28 02:20] Spyper12 commented on #293
I uploaded advanced infinite ammo plugin and asked myself what happens if hale gets infinite rage but when i set rage damage to 0 boss still needs to take damage to activate rage
In Short i want boss to have unlimited amount of rage

[2015-08-28 13:51] 50Wliu commented on #293
Oh, so always be able to rage?  Interesting.

[2015-08-28 17:48] Spyper12 opened #294 "A config to decide which commands boss can/cant use"
There should be a confing which allows players to put commands
Boss will not be able to use these commands (like sm_rtd ,  kill etc.)

And there could be a config that the cvars only affects bosses (sm_gravity sm_goomba_amage etc.)

And by that way, ff2 could be used with many other plugins without problem, also doesnt need to make convars for popular plugins (like rtd goomba stomp)

[2015-08-28 18:38] 50Wliu commented on #294
I'm :-1: on this.

And yeah I know we don't need those cvars, that was a decision that I'm still regretting.

[2015-08-29 11:56] Spyper12 opened #295 "Disable ff2_crits by default"
Since ff2_shield_crits is disabled by default i offer to disable ff2_crits by default too.

[2015-08-29 14:59] 50Wliu commented on #295
It isn't? :scream:

[2015-08-29 15:37] Spyper12 opened #296 "Heavy bosses can attack while stunned"
Actually a [tf2](https://wiki.teamfortress.com/wiki/Stun#Bugs) bug, but gives a HUGE advantage to heavy bosses.They can attack while stunned
(short circuit etc.)

PS: Thanks

[2015-08-29 15:53] 50Wliu commented on #296
Yeah I know.  I'd really prefer for Valve to fix it though so I don't need to patch things.

Magic URL linking: `[nice pretty name](actual link)`.  So your example would be like `[TF2](https://wiki.teamfortress.com/wiki/Stun#Bugs)`.  Result: [TF2](https://wiki.teamfortress.com/wiki/Stun#Bugs)

[2015-08-29 16:00] Spyper12 commented on #296
Uh, okey.

[2015-08-29 18:11] Deathreus commented on #295
Crits is off by default

[2015-08-30 00:33] #295 closed

[2015-08-30 21:36] Spyper12 opened #297 "Translations"
Texts showing boss hp is english to me but becames Russian when a russian cames to our server

[2015-08-30 22:16] Deathreus commented on #297
Then obviously you installed both, and they were made separate for a reason

[2015-08-30 23:12] 50Wliu commented on #297
You're supposed to install both.  I thought the Russian bug was fixed a long time ago by Sourcemod...perhaps it regressed?

[2015-08-31 02:51] Spyper12 commented on #297
Forgot to say , if boss have 2 abilities like superjump and respawn/teleport  etc. To text appear at same time with nothing readable

[2015-08-31 03:11] shadow93 commented on #293
I think i had my FF2 allow -1 as a valid rage damage value, which always sets rage to 100% every tick.

[2015-08-31 15:16] 50Wliu commented on #296
Yeah, I'm not going to fix this within FF2, sorry.  Pester Valve.

[2015-08-31 15:16] #296 closed

[2015-08-31 15:24] 50Wliu commented on #204
Closing as this hasn't been reported since.  If it's still an issue just comment here.

[2015-08-31 15:24] #204 closed

[2015-08-31 19:39] Deathreus commented on #297
@50Wliu Well, I had assumed they were separate for a reason

[2015-08-31 19:54] 50Wliu commented on #297
I guess to make editing/reading the files easier (I don't know, you'd have to ask the Sourcemod devs).  But you are supposed to upload all the translations so that eg Russian users will see Russian instead of English on your server.

[2015-08-31 22:11] shadow93 commented on #204
Just delete pickups.ff2

[2015-09-01 07:22] Deathreus commented on #297
@50Wliu My point, was that you put all the translations in 1 file, "en" "ru" "ge" "ch", whatever, and I had assumed the Russian translations were put into a separate file for a reason

[2015-09-01 15:42] 50Wliu commented on #199
Closed by 959c78fd373c8e3c90bd2cff1369059990edf6b8.

[2015-09-01 15:42] #199 closed

[2015-09-01 17:59] Deathreus commented on #199
TFTeam's are integers anyway, Unnassinged = 0, Spec = 1, Blue = 2, Red = 3, and GetClientTeam returns as such, it's just to do with the enum, it doesn't make a difference

[2015-09-01 18:13] 50Wliu commented on #199
You would still get tag mismatches ;)

[2015-09-02 00:39] 50Wliu commented on #209
This isn't closed because I haven't taken a look at what can be moved out of `OnPlayerHurt` yet.

[2015-09-02 01:20] 50Wliu commented on #198
Done.  FF2 now relies on `TF2_{Get|Change}ClientTeam` and `ff2_external_integration.sp` is using the new syntax.

[2015-09-02 01:20] #198 closed

[2015-09-02 01:31] 50Wliu commented on #263
I'll try to do this tomorrow.

[2015-09-02 01:40] 50Wliu commented on #209
Ok, OTDA definitely isn't going to replace OnPlayerHurt, but OTDAPost *might*.  I'll see tomorrow.

[2015-09-02 01:42] 50Wliu commented on #294
After some deliberation, I think this is outside the scope of FF2.  I'm open to re-opening this though if a good argument is given.

[2015-09-02 01:42] #294 closed

[2015-09-04 07:24] ReFlexPoison opened #298 "Double EmitSounds"
I don't know why the mod was developed to emit sounds multiple times. There should definitely be an option (cvar) to set how many times sounds are emitted.

[2015-09-04 07:28] ReFlexPoison opened #299 "Line 5978 - Unnecessary Code"
[code]
Boss weapons shouldn't be forced to do extra damage. I suggest removing this line, or checking if the weapon causing the damage is == GetPlayerWeaponSlot(attacker, TFWeaponSlot_Melee)

[2015-09-04 12:44] 50Wliu commented on #298
A consensus had never really been reached on how many EmitSounds there should be, so I've kept it as is for now.

[2015-09-04 12:45] 50Wliu commented on #299
It is stupid code, but most bosses have already worked around this.  It's already been removed in 2.0 however.

[2015-09-04 20:44] parkeerwacht opened #300 "player not getting points and backstabs doing standard damage"
I am having a bug where players aren`t getting any points to gain a position in the waitlist
due to this one person will stay the boss forever untill he disconnects

there is also an issue with backstabs where  they do they do standard 600% instead of 10% of the boss health

i am running Freak Fortress 2 1.10.7 latest build (builded from this git) SourceMod 1.7.3-dev (latest build) and latest buil

[2015-09-04 21:06] 50Wliu commented on #300
I'll need error logs please.

[2015-09-04 21:13] parkeerwacht commented on #300
first issue is fixed btw
was some translation error

[2015-09-04 21:24] parkeerwacht commented on #300
you can close this the issue resolved itself with the backstab no idea what fixed that just after some playing it was fixed

[2015-09-04 23:02] #300 closed

[2015-09-05 00:37] 50Wliu commented on #263
Closing this as Github won't close it automatically.  I'm pretty sure there's going to be :bug:s since I redid some of the natives, so please test this out and tell me how it goes :smile:.

[2015-09-05 00:37] #263 closed

[2015-09-05 04:09] shadow93 commented on #299
I already disable this by setting the subversion on the cfg on my version to 31.

[2015-09-05 22:49] #244 closed

[2015-09-06 15:40] 50Wliu commented on #299
Closing as it's been removed in v2.

[2015-09-06 15:40] #299 closed

[2015-09-06 15:41] 50Wliu commented on #298
I'd prefer if there wasn't a cvar, but we'll see.

[2015-09-08 12:35] Bonkorn opened #301 "Native "SetEntProp" reported: Entity -1 (-1) is invalid"
I didin't launch server since 26-7-2015
When i launch it in 6-9-2015
It spams many issue
----------------------
L 09/06/2015 - 17:46:13: [SM] Displaying call stack trace for plugin "freak_fortress_2.smx":
L 09/06/2015 - 17:46:13: [SM]   [0]  Line 1776, freak_fortress_2.sp::LoadCharacter()
L 09/06/2015 - 17:46:13: [SM]   [1]  Line 1574, freak_fortress_2.sp::FindCharacters()
L 09/06/2015 - 17:46:13:

[2015-09-08 12:47] Bonkorn commented on #301
***
Please Delete this thread, I found out my FF2 Plugin is already old (July 2015)
Now i updating it
***

[2015-09-08 19:44] Deathreus commented on #301
Do it yourself, it's yours

[2015-09-09 01:36] #301 closed

[2015-09-17 02:19] 50Wliu commented on #23
`By Classname` and `By Definition Index` have been removed and now everything is unified.  FF2 should be smart enough to tell whether you're specifying a classname or index (I mean, one's a number and one's a string...).  Replace, remove, and add are theoretically functional (at least the basics), though that's probably not the case in-game...

[2015-09-18 17:38] naydef opened #302 "A serious companion bug "Divide by zero" on line 4931!"
Hi Developers!
I have a serious problem with companion bosses on my slightly improved version of Freak Fortress 2 build 302 with visible weapons. I have successfully reproduced this bug on official build 314. Also the companion cannot use his abilities and when the round starts, his health is not full.

This is errors from the console:
L 09/18/2015 - 19:54:59: [SM] Plugin encountered error 14: Div

[2015-09-18 17:59] 50Wliu commented on #302
This bug is stupid.  Ugh.

[2015-09-18 23:12] Deathreus commented on #302
So, the broken one is Vagineer? That blows my explanation out of the water then, I was gonna say maybe it's dividing the division that the error arises...

[2015-09-19 00:22] 50Wliu commented on #302
The only way this can happen is if `defaultValue` is 0.  That still doesn't make sense though because your health formulas seem totally valid.  Can you please try build 315 and see if that fixes your issue?

[2015-09-19 07:57] naydef commented on #302
I'm investigating the issue with adding a Debug myself on build 314:
validBoss=true;
 Debug("Client: %N Index: %i BossSpeed: %f BossHealth: %i, BossLivesMax: %i, BossHealthMax: %i", client, client, BossSpeed[Special[boss]], BossHealth[boss], BossLivesMax[boss], BossHealthMax[boss]);
SetEntPropFloat(client, Prop_Data, "m_flMaxspeed", BossSpeed[Special[boss]]+0.7*(100-BossHealth[boss]*100/BossLivesM

[2015-09-19 14:30] 50Wliu commented on #302
The client isn't index 0.  The boss is index 0.  boss!=client

[2015-09-19 14:38] 50Wliu commented on #302
Since I can't reproduce this, can you also please add some debug after the following lines?
7360: `Debug("BossLivesMax for companion %N (index %i) is %i", companion, companion, BossLivesMax);`
7363: `Debug("Forcing BossLivesMax to 1");`

[2015-09-19 16:47] naydef commented on #302
OK.

[2015-09-19 22:38] shadow93 commented on #302
Something similar happens to @eNNercY1337 as well. Even one round where the HUD didn't work for the solo boss.

[2015-09-21 03:25] shadow93 opened #303 "Minion Slay/Chance to Win"
Why not just make it an arg that determines if minions should be slayed or given a chance to win if their summoner dies?

[2015-09-22 15:08] naydef commented on #302
Hello again!
It seems that debugs are never called! Only the console is spammed with errors:

L 09/22/2015 - 18:05:19: [SM] Plugin encountered error 14: Divide by zero
L 09/22/2015 - 18:05:19: [SM] Displaying call stack trace for plugin "freak_fort
ress_2.smx":
L 09/22/2015 - 18:05:19: [SM]   [0]  Line 4931, C:\tf2server\tf2\tf\addons\sourc
emod\scripting\freak_fortress_2.sp::BossTimer()
L 09/22/2

[2015-09-23 00:26] 50Wliu commented on #302
:astonished: The plot thickens...

[2015-09-23 00:36] 50Wliu commented on #302
Your problem might be that `"vagineerduo"` is never actually specified in `characters.cfg`.  `PickCharacter()` *should* be bailing in that scenario, but if it isn't I can see why your model is messed up and divide by 0 errors are being thrown everywhere.

Anyway, if even after adding `vagineerduo` to `characters.cfg` doesn't fix it, here's some more debug for you:
[code]

[2015-09-23 00:43] 50Wliu commented on #303
Ok, here's my thoughts on this:
Scenario 1 - FF2 force-slays all minions once their summoner dies.  That really doesn't give subplugin authors any flexibility regarding their deaths.
Scenario 2 - FF2 allows all minions to live even after their summoner dies.  Now, subplugin authors can either choose to let them live or interact with them in some other way (eg, killing them anyway).
Scenario 3 - `r

[2015-09-23 05:17] shadow93 commented on #303
I'm leaning towards scenario 3, just to give them a choice.

I already updated my implementation of the cloning ability and Otokiru's salmon charge to add the minion fate arg.

[2015-09-23 06:31] Starblaster64 commented on #292
I'm going to assume that the number of players in each of your examples are the number of players on the non-Boss team and not the total number of players active on the server. (Hence the following notation `(n-1)⁻¹` where n = total number of active players)

(10-1)⁻¹ would actually result in a lower backstab damage (11.1%) than the current 12%, and (9-1)⁻¹ would only increase it to 12.5%. (8-1)⁻¹

[2015-09-23 06:41] Starblaster64 commented on #303
Isn't scenario 1 already the case, or am I missing something?

I'm quite against scenario 2, mostly because of the way that minions are used by a majority of FF2 bosses (a la Seeldier).

Scenario 3 does appear to be the best choice (from an end point perspective), as long as the default behaviour is the same as right now.

[2015-09-23 12:56] 50Wliu commented on #303
1 is currently how `rage_cloneattack` functions in 1.10.6, yes.
2 is what FF2 is doing right now in the beta after I received some feedback on the forums.

I'll let this sit for a few more days to gather feedback.

[2015-09-23 17:36] naydef commented on #302
OK, I have added the vagineerduo into characters.cfg, but there isn't any difference. And your debug is compiling with errors:

//// freak_fortress_2.sp
//
// C:\tf2server\tf2\tf\addons\sourcemod\scripting\freak_fortress_2.sp(7343) : er
ror 017: undefined symbol "character"
// C:\tf2server\tf2\tf\addons\sourcemod\scripting\freak_fortress_2.sp(7343) : wa
rning 215: expression has no effect
// C:\tf

[2015-09-23 17:49] 50Wliu commented on #302
Can I see your new characters.cfg?

And fixed debug...
[code]

[2015-09-23 18:31] naydef commented on #302
characters.cfg:

"Boss Pack 1"
{
	"1"		"bionic_commando"
	"2"		"ninjaspy"
	"3"		"hhh_hale"
	"4"		"saxtonhale2"
	"5"    "cavejohnson"
	"6"		"demopan"
	"7"		"brutal_sniper_hale"
	"8"	    "easterbunny"
	"9"    "bonkboy"
	"10"    "duke_nukem"
	"11"    "spyper_boss"
	"12"    "gaben"
	"13"    "rocket"
	"14"    "admin"
	"15"    "skulls"
	"16"    "radigan"
	"17"    "rappyraptor"
	"18"    "bill"
	"19"    "

[2015-09-23 18:46] 50Wliu commented on #302
So it's...not choosing a character.  Very weird.

[2015-09-24 01:24] #302 closed

[2015-09-24 01:24] 50Wliu commented on #302
Ok, now it should *definitely* be fixed.  If a boss can't be found, FF2 will now log a sane error and just play without the companion.

[2015-09-24 22:17] Spyper12 commented on #303
I support scenario 3.

[2015-10-01 15:20] Bonkorn opened #304 "Increase amount of attacks shield can block"
How to increase amount of attack shield that can block?
I Just found this line on 4089 - 4103 in freak_fortress_2.sp, I think it have something attack block config
[code]
What value to change that can increase amount of attacks shield can block

[2015-10-01 15:41] 50Wliu commented on #304
That's not the part of the code you're looking for - that removes the boss's shield, not the player's.  I'll show you how to do it once I get back on my laptop in a few hours

[2015-10-01 17:42] Bonkorn commented on #304
Okay, Thanks.

[2015-10-02 21:08] 50Wliu commented on #304
So I kinda forgot about this...oops.
This is what you're looking for: https://github.com/50DKP/FF2-Official/blob/db1f7f2fb5d87a5e89483076024ae931e3a2850d/addons/sourcemod/scripting/freak_fortress_2.sp#L5955-L5965

What you probably want to do is create a new global variable `new shieldBlocks[MAXPLAYERS+1]` and then set that to however many times you want the shield to block an attack in [this for

[2015-10-02 21:08] #304 closed

[2015-10-04 17:47] Akuba- commented on #298
I still do not understand why sounds are emitted multiple times.

[2015-10-05 21:38] #303 closed

[2015-10-05 21:38] 50Wliu commented on #303
I decided against a slay chance, as I'm sure we'll get reports of minions being buggy if that gets included.  arg12 is a simple boolean - 0 to keep minions alive after their boss dies, 1 to slay them.

[2015-10-09 09:02] Bonkorn opened #307 "Use More Models on special_dropprop"
Can I use Multi Models on Drop Prop on Kill? It will drop random Props
[code]

[2015-10-09 11:57] 50Wliu commented on #307
This is not yet possible using the current ability system.

[2015-10-09 11:57] #307 closed

[2015-10-09 16:30] Deathreus commented on #307
You can only have 1 of any ability

[2015-10-10 11:21] Akuba- commented on #224
I wonder how it would work when a Boss has companions because you cannot break the line with \n.

[2015-10-10 22:56] shadow93 commented on #224
I use PrintCenterText in my version for duo/trio situations.

[2015-10-11 03:01] shadow93 opened #308 "Allow minion health to use a health formula"
If not for v1.10.7, at least for v2, can rage_cloneattack be updated to allow minion health to use a health formula?

[2015-10-14 17:50] Bonkorn opened #309 "Set Maximum Percent of Super Jump"
Is there a way to change the maximum percent of Super Jump?
for Rainbow Dash which like to fly
Got Fast Super Jump Cooldown
How do I limit the Maximum Percent of Super Jump to 20%

[2015-10-14 18:34] Bonkorn commented on #309
My current Super Jump Config for Rainbow Dash
[code]

[2015-10-16 18:49] Akuba- commented on #309
I was using this for a test Boss for "instant"  charge and is kinda working fine. Maybe this is helping you.

	"ability4"
	{
		"name" "charge_bravejump"
		"arg0"	"1"
		"arg1"	"0"
		"arg2"	"0"
		"arg3"  "1.2"
		"plugin_name"	"default_abilities"
	}

[2015-10-24 20:23] naydef opened #310 "A way to fix the spectator issue!"
Hi!
After some tests with my version of Freak Fortress, I have successfully fixed this bug.  The key is to remove every line:
'SetEntProp(boss, Prop_Send, "m_lifeState", 0);'
and replace it with
TF2_RespawnPlayer(boss);
Setting m_lifeState to 0 will just make the game think that the player is alive, while TF2_RespawnPlayer will actually make the boss alive and spawn them. For this reason TF2_Respa

[2015-10-25 14:39] 50Wliu commented on #310
:tada:

[2015-10-26 11:55] naydef commented on #310
Ops. There is more about the problem. I have done some more tests today and I have found that the real origin of the problem is the netprop "m_iDesiredPlayerClass". If the value of this netprop is 0 (Invalid class), TF2_RespawnPlayer won't work, even if the plugin sets the player class (m_iClass) of the boss! The correct way to fix this problem is to remove every line 'SetEntProp(boss, Prop_Send,

[2015-10-26 13:08] 50Wliu commented on #310
Nice work @naydef.  I'll add these changes when I have time, or you can make a PR.

[2015-11-03 18:45] naydef commented on #310
And because I don't want to open another issue, Freak Fortress errors at the moment on my tf2 server, because on line 4087 on build 328:
Log:
[code]
Error code:
[code]
There isn't an argument for the CLIENT!!

It has to be:
[code]

[2015-11-03 19:21] 50Wliu commented on #310
VFormat is my worst enemy.  Thanks (and :cry: to know that the civilian bug is still happening).

[2015-11-03 21:25] Bonkorn opened #311 "FF2 Crash at 'first round end' or 'second round start'"
I have so many days didin't launch FF2 Server already, I updated ff2 sourcemod\scriptings files and compiled it to sourcemod\plugins but it crashes
My current tf2attributes gamedata from:
https://forums.alliedmods.net/showpost.php?p=2357527&postcount=404
Here's my list of plugins:
[code]

[2015-11-04 19:51] shadow93 commented on #310
It can also be done like this:
[code]

[2015-11-04 19:56] naydef commented on #310
I have more suggestions for Freak Fortress 2:
1. Instead of:
[code]

Freak Fortress 2 can use the native TFClassType:TF2_GetClass(const String:classname[]):
[code]

[2015-11-04 19:59] shadow93 commented on #310
So on a pending PR, i moved out all that team switch code into a stock, to make it easier to update.

[code]

[2015-11-04 20:08] 50Wliu commented on #310
Hey @naydef, can you please make separate issues for the other two things you reported?  Thanks!

[2015-11-04 20:33] 50Wliu commented on #310
Fixed by #312 (hopefully).

[2015-11-04 20:33] #310 closed

[2015-11-04 20:42] naydef opened #313 "Just some more improvements!"
1. Instead of :
[code]

Freak Fortress 2 can use the native TFClassType:TF2_GetClass(const String:classname[]):
[code]

2. And why Freak Fortress checks for "vo" string on line 8128? Instead it can just check if the sound is from the voice channel
[code]
Only suggestions.

[2015-11-05 01:45] shadow93 commented on #313
Tested on my FF2 fork, working just fine.

[2015-11-05 03:15] 50Wliu commented on #313
Implemented in #314 and #315.

[2015-11-05 03:15] #313 closed

[2015-11-05 03:16] 50Wliu commented on #311
Please also make sure you have the latest TF2Items extension (https://builds.limetech.org/?p=tf2items).

[2015-11-05 03:16] #311 closed

[2015-11-05 08:37] Bonkorn commented on #311
Thanks for the advice, I never know TF2Items must be updated.

[2015-11-05 18:32] naydef commented on #313
Ops. Interesting. If the string argument in TF2_GetClass is invalid, this native will return 0 or TFClass_Unknown!
![2015-11-05_00002](https://cloud.githubusercontent.com/assets/14336376/10977759/a979718c-83fb-11e5-9322-938cd4093adf.jpg)

[code]

[2015-11-05 19:47] Deathreus commented on #311
ALWAYS assume TF2Items broke after ANY TF2 update, it can break at ANY time if Valve decides to add a weapon, change an index, change weapon slots, change weapon flags, add or remove a netprop from a weapon, add a hat, anything.

[2015-11-05 23:59] shadow93 commented on #313
Alright, just did that for #316

[2015-11-07 15:25] naydef commented on #313
3. It is recommended to use TF2_RegeneratePlayer on line 4066 instead of TF2_RespawnPlayer. It will not respawn the player, but only give weapons to him

[2015-11-07 19:51] Deathreus commented on #313
All things considered at the time it's doing it, it doesn't really matter using either

[2015-11-11 12:00] Bonkorn opened #317 "Lots of Spam"
The plugin annouces many message per minute how do i solve that?
![](http://i.imgur.com/WlIinbZ.jpg)
![](http://i.imgur.com/8BW3QU7.jpg?1)
![](http://i.imgur.com/jeE9lvG.jpg)
![](http://i.imgur.com/zxaTIU4.jpg)
wot? i toggled off
![](http://i.imgur.com/HQXGYOq.jpg)
[code]
[code]

[2015-11-11 13:03] 50Wliu commented on #317
Some timers are firing incorrectly by the looks of it.  Since it also happens with `haletoggle` I'm not sure it's an issue with FF2, but can you please paste any errors here?  Thanks.

[2015-11-11 13:19] Bonkorn commented on #317
[code]
[code]
I modified RegConsoleCmd in ff2_boss_prefs.sp
https://www.dropbox.com/s/bl8rmqlpo7vazwt/ff2_boss_prefs.sp?dl=0
By adding these
[code]
Source:
https://forums.alliedmods.net/attachment.php?attachmentid=148889&d=1446991712
Source at AlliedModders Forum:
https://forums.alliedmods.net/showthread.php?t=273191

[2015-11-11 13:49] 50Wliu commented on #317
I think this is an issue with your customized ff2_boss_prefs plugin.  Try using the unmodified version and see if the spam still occurs.

[2015-11-11 14:13] Bonkorn commented on #317
Used unmodified ff2_boss_prefs.smx spams
Unloaded ff2_boss_prefs.smx Also spam

[2015-11-11 14:23] 50Wliu commented on #317
Are the errors any different?

[2015-11-11 14:27] Bonkorn commented on #317
I don't know
![](http://i.imgur.com/eBirQWi.jpg)

[2015-11-12 10:07] Bonkorn commented on #317
Fixed: Drag & Drop these files
first - replace all with FF2-Official-1.10.6.zip
second - replace all with plugins.zip

[2015-11-12 12:42] #317 closed

[2015-11-22 12:01] Wasmanr2 opened #319 "Bug report ff2(Powerjack)"
Well i found a bug that kills the hales instantly using the Powerjack with 1 or more hits .

[2015-11-22 15:52] 50Wliu commented on #319
I'll need more info than that.
* What FF2 version?
* Does this always happen or just occasionally?
* Do you have any errors in your error logs?
* What version of TF2Items are you running?

[2015-11-22 18:52] Wasmanr2 commented on #319
Version: 1.10.7
Happens always when the Powerjack have crit

This is anything i can provide because the owner of the server is erhm busy and he will provide me the other infos soon

[2015-11-22 19:10] shadow93 commented on #319
should add needs-reproduction tag.

[2015-11-23 21:44] 50Wliu commented on #54
Arguments for abilities can now actually be understood without having to memorize anything.

An example of the new rage_cloneattack:
[code]

The next step is allowing users to specify their own ability headers instead of being restricted to `ability#`, and then `plugin_name`/`ability_name` reorganization, and finally a reworking of the downloads section.

[2015-11-24 18:02] naydef commented on #319
Can confirm the bug. I have successfully reproduced it on my test server. Also found the code, which makes this
Line 6080:
[code]

It must be:
[code]

These are the steps to reproduce the bug:
1. Spawn as pyro with PoweJack
2. Damage yourself until you have about 10 hp
3. Hit the boss.
4. The plugins set the boss health to 60
5. The crit boosted powerjack deals 195 damage. The boss health is 60
4.

[2015-11-24 18:51] 50Wliu commented on #319
@shadow93 tsk tsk.  I'll fix in a few hours and push a patch release.

[2015-11-24 19:06] eNNercY1337 opened #321 "recent crashes on 1.10.7"
hiya, already talked to shadow93 and he told me to open an report here.

seen today 2 crashes during the day with FF2 1.10.7 running on my FF2 server, attached below the crash reports from asherkins crash report plugin.

![st1](https://cloud.githubusercontent.com/assets/7194960/11377557/bf74cd0c-92e6-11e5-8130-201d32bb8861.PNG)
![st2](https://cloud.githubusercontent.com/assets/7194960/11377556/bf7

[2015-11-24 21:02] 50Wliu commented on #321
First one looks like FF2 tried to spawn something and that crashed the server.  First guess would be that the "something" wasn't precached (if so there should also be an error in the console right before it goes down).

Second one...someone selected something in a menu which did some stuff with entities.  Not sure how I can debug that further unfortunately.

[2015-11-24 21:18] #319 closed

[2015-11-25 18:44] shadow93 opened #325 "OnJoinTeam"
Here's a much cleaner version:

[code]

[2015-11-25 19:31] 50Wliu commented on #325
I feel like this unnecessarily complicates the code with all the ternaries and produces more calls than needed to `IsBoss()`.  In the current version we just set the final team at the end, not within each if statement.

Your new `ShowVGUIPanel` code is also bugged since the team could be spectator, in which case yours would show the BLU class selection screen.

[2015-11-25 19:31] #325 closed

[2015-11-25 23:34] eNNercY1337 commented on #321
havent found anything that would've help.
i'll let you know if it happens again, currently running 10.8.

[2015-11-25 23:34] #321 closed

[2015-11-28 21:06] shadow93 opened #329 "Override ALL Mediguns?"
Since VSH now overrides attributes for all mediguns, why don't we do the same so the Kritzkrieg, Quick Fix and Vaccinator are treated as another Medigun reskin (overriding it's attributes)?

[2015-11-28 21:42] naydef commented on #329
I also have the same idea. It is also better to override all Syringe gun attributes instead of replacing them. There are many positive things like no more invisible mediguns and syringeguns. Also I can confirm the bug, where if the ubercharge goes below 40% the healer will lost his uber protection, maybe because the ubercharge is now hardcoded to 100%.

[2015-11-30 00:02] shadow93 commented on #329
The uber bug is also confirmed in my version too.

[2015-11-30 21:51] 50Wliu commented on #329
Sounds good.

The ubercharge is a TF2 bug which I will not be fixing within FF2.

[2015-12-01 01:51] 50Wliu opened #331 "The future of the Rocket and Sticky Jumper"
@shadow93 recently brought to my attention that even stock weapons no longer show up when given to players.  This affects the Rocket/Sticky Jumpers because FF2 removes them and spawns the stock launcher in their place instead.

While not a breaking gameplay issue, this does make it a suitable time to think about if we should change the behavior of those weapons.  There's a couple of options:

1. O

[2015-12-01 13:28] shadow93 commented on #329
I guess we can close this since the PR is merged

[2015-12-01 13:28] #329 closed

[2015-12-03 14:49] naydef commented on #331
I have two suggestions about this:
1. Change attribute 280 to value 4.0. It will override the stickybombs to the stock ones, so the players will see the stock stickybombs. Actually this attribute is very interesting, because you don't have to remove, delete or change projectile models.
4.0 - Stock stickybombs
18.0 - Sticky jumper stickybombs

2. Make the server given weapons visible by setting one

[2015-12-04 19:58] naydef opened #332 "The medic ubercharge doesn't give protection!"
As the title says, medic ubercharges don't have protection, insteal the ubercharge gives non-stock medigun their usual uber type, like the Kritzkrieg give crits without protection. The problem is that when overriding the medigun attributes, the plugin have to set attribute 18 to 0:
[code]

And is it supposed the Blutsauger to give 3+ health to the medic?

[2015-12-05 12:56] shadow93 commented on #332
Oh crap, simple fix underway...

[2015-12-05 13:01] shadow93 commented on #332
Actually, setting the last parameter on PrepareItemHandle to true completely wipes out any existing attributes. The default value for dontPreserve is false if you don't specify the boolean value.

[2015-12-05 13:06] shadow93 commented on #331
@naydef, no need. Simply setting the last parameter to true in PrepareItemHandle removes any existing attributes.

[2015-12-05 21:18] #332 closed

[2015-12-06 16:25] Chdata commented on #331
The orange stripes at this point are associated with "no damage".

That's not a con. It's what I do on my server. Bosses hardly really change how they target people. And people catch on to the fact that they do damage... instantly.

[2015-12-06 16:30] Chdata commented on #298
^ I've edited my private VSH to only emit once and then I went and fixed the quiet SFX with MP3Gain.

Eventually it'll go in the public.

There were reasons it's put on SNDCHAN_ITEM and VOICE at the same time, but I've reworked it without those and the difference is hardly noticeable to anyone except me since I know what I was trying to fix about it.

[2015-12-06 16:30] Chdata commented on #266
I go with BossType_Main for the leader

[2015-12-11 18:28] naydef opened #335 "Cloaked Spy + afterburn from the boss = Instant Spy death"
As the title says, cloaked spies take afterburn damage which is equal to hit from melee weapon.
This is my fix on line 5923:
[code]

Edit: The fix works on my server

[2015-12-11 20:21] 50Wliu commented on #335
I think this is a partial fix.  Instead we should scale the damage properly for all types of damage.

[2015-12-11 20:37] naydef commented on #335
I know. The experimental branch already uses OnTakeDamageAlive which reports the real damage.

[2015-12-16 12:52] MrTheBank opened #336 "/ff2boss isn't work"
i cannot use /ff2boss and i already install ff2boss selection
can you help me please
sorry for bad english

[2015-12-16 14:06] naydef commented on #336
Errors in the console? Maybe you have forgotten to include the plugin's translation file.

[2015-12-16 14:13] 50Wliu commented on #336
`/ff2boss` is not a builtin FF2 command, so this isn't the right place to report it.  I believe @shadow93 is maintaining that now.

[2015-12-16 14:13] #336 closed

[2015-12-17 10:26] Bonkorn opened #337 "Subplugin..."
After I compiled a FF2 subplugin called ff2_otokiru_mane6.sp from sourcemod\scripting
It's .smx
Which thing should i do?
Rename .smx to .ff2 then copy to sourcemod\plugins ?

[2015-12-17 12:47] 50Wliu commented on #337
Rename to .ff2 and copy to sourcemod\plugins\freaks.

[2015-12-17 12:47] #337 closed

[2015-12-17 21:56] WildCard65 opened #338 "[QUESTION] Should FF2 void the value to damageBonus param or keep it the same?"
Currently FF2 forgets to do anything about the damageBonus parameter of the OnStomp goomba support function, should we change it to allow FF2 to control it via another CVAR(To make it independent of goomba's CFG) or keep functionality the same?

[2015-12-17 22:05] 50Wliu commented on #338
This whole integration thing is a mess.  I'm tempted to leave it as is for now.

[2015-12-17 22:06] WildCard65 commented on #338
Well it works fine as is which is why this issue has the "[QUESTION]" prefix, I just thought I make note of the question here for feedback due to thread it started from(and going back and reading one of my replies again)

[2015-12-18 17:11] shadow93 commented on #336
Use this:
https://forums.alliedmods.net/showthread.php?t=273191

Replaces the old !ff2boss plugin.

[2015-12-18 18:47] tiesto97 opened #339 "FF2 boss rage"
I wanted to add this mod to my tf2 server. i'm installed everything correctly but the hale cant rage.
Can you help me? :/

[2015-12-18 22:10] 50Wliu commented on #339
Do you have any errors in your error logs?

[2015-12-20 21:55] 50Wliu commented on #335
Fixed by 07f492b.

[2015-12-20 21:55] #335 closed

[2015-12-21 00:35] Deathreus commented on #335
I assume this bug is the same issue as taking 1k+ damage from bleed when you are in the process of cloaking

[2015-12-21 02:08] 50Wliu commented on #335
...probably.  At any rate FF2 now only sets the damage when it's above 620, which isn't that great of a fix but it's better than nothing.

[2015-12-21 07:44] Chdata opened #340 "FF2_PreAbility's default value"
edit: Looks like the git already has this issue solved.

[2015-12-21 07:45] #340 closed

[2015-12-21 22:42] epullay opened #341 "Server crashes when 2 people join"
Whenever I load a vsh map, and 2 or more people join, my server crashes. But it only happens with freak fortress enabled.

[2015-12-21 22:49] 50Wliu commented on #341
Please make sure the following are up to date:
1. Metamod
2. Sourcemod
3. TF2Items
4. TF2Attributes
5. Freak Fortress 2

If you are confident that they are, please report the versions that you're using and I'll investigate further.

[2015-12-22 00:04] epullay commented on #341
Yeah. They all are up to date. Just checked

[2015-12-22 00:11] 50Wliu commented on #341
I can't do anything without those.

[2015-12-23 04:20] epullay commented on #341
Metamod: Source version 1.10.6
SourceMod Version: 1.8.0.5803
TF2Items: 1.6.4-279
TF2Attributes: 1.2.1
Freak Fortress: 1.10.8

[2015-12-23 13:03] 50Wliu commented on #341
Thanks!

[2015-12-23 19:51] Deathreus commented on #341
Try SM 1.7 instead, 1.8 still seems to have massive bugs

[2015-12-28 11:18] Dalix opened #342 "Spy stock knife & skins have glitched backstab animations"
I'm using the latest build.

I have a fix for that:

Change this:
[code]
To this:
[code]

[2015-12-28 15:41] 50Wliu commented on #342
Ok, thanks for the report!

[2015-12-28 15:50] #342 closed

[2015-12-30 20:47] shadow93 opened #343 "FF2_OnMusic"
When you see it, you'll shit bricks.

[code]
CFG file in question:
[code]

Forward in question:
[code]

[2015-12-31 02:12] 50Wliu commented on #341
@epullay can you make sure the TF2Attributes gamedata is also up-to-date?  Is there any information in the server console before the server crashes?

[2015-12-31 02:13] 50Wliu opened #344 "Rewrite BGM code"
Right now there's two nearly-identical timers that are named very ambiguously - `Timer_MusicPlay` and `Timer_MusicTheme`.  The code within those timers is also pretty badly written.  Fixing this would be nice.

[2015-12-31 06:01] shadow93 commented on #344
This is needed. Badly.

[2015-12-31 20:23] epullay commented on #341
Nope. The server acts like if I restarted it. It displays no error messages
whatsoever. And TF2Attributes is up to date. It doesn't generate an error
message or anything. It simply restarts, it goes back to the map I have
specified on my server.cfg. No error message. I managed to run the server
without crashing it, but all models look like an error. But the server
downloads the models.

2015-12-30

[2016-01-01 04:11] shadow93 opened #345 "Add support for +attack3 for "buttonmode""
So, i was talking with Friagram over on steam, and he has pointed out that one of the changes done in the recent TF2 patch breaks alt-fire for medic bosses equipped with a bonesaw melee.

Reason being, because pressing alt-fire with a bonesaw makes the user perform a taunt. Attempting to remove the condition via OnConditionAdded will cause the condition to reapply over and over again.

I think it'

[2016-01-01 10:57] naydef opened #346 "Dublicate code for removing Cloak and Dagger"
Freak Fortress 2 blocks two times the Cloak and Dagger watch:
line 3925->
[code]

And line 4061->:
[code]

[2016-01-01 16:20] shadow93 commented on #346
I whitelisted cloak and dagger on my version to act as a stock reskin.s

[2016-01-01 16:41] #346 closed

[2016-01-02 21:37] naydef opened #347 "Add optional argument to specify if boss weapons will receive the two attributes"
This addition is for FF2v2.0. I have seen many bosses, which have 200% damage bonus attribute an +2 capture speed bonus and for example -80% damage or negative capture speed attribute. The second attribute counters the first, which is stupid. Instead of giving default attributes,  let the boss creators select if they want default attributes.

[2016-01-04 01:25] shadow93 commented on #347
Or let's ditch built-in attributes altogether if custom attributes are specified.

[2016-01-04 20:50] Dalix opened #348 "These codes aren't doing proper damage"
Fix for that:

On line 6045:

case 61, 1006:  //Ambassador, Festive Ambassador
					{
						if(damagecustom==TF_CUSTOM_HEADSHOT)
						{
							damage=85.0;  //Final damage 255
						}
					}

Change for this:

case 61, 1006:  //Ambassador, Festive Ambassador
					{
						if(damagecustom==TF_CUSTOM_HEADSHOT)
						{
							damage=85.0;  //Final damage 255
							return Plugin_Changed;
						}

[2016-01-05 17:36] naydef commented on #348
You are right. Using ambassador as spy didn't deal 255 damage to the boss!

[2016-01-11 11:44] shadow93 opened #349 "Oh Valve...."
One of the recent updates Valve has done has broken weapon skins (at least since Tough Break).
In our case, this is affecting ALL Medigun skins from Gun Mettle / Tough Break, since we modify their attributes.

The issue is, any skin spawned/modified via TF2items will only show the base weapon, without the skin applied. Could have been an intentional change from Valve to prevent Fake Unusuals v2.0

[2016-01-14 17:48] Jose76Tron commented on #349
For me they work

[2016-01-15 19:03] naydef opened #350 "False positive detections from SMAC!"
[code]

This thing is happening sometimes and it's boring to unban all players. Of course I run Freak Fortress 2 and I know that the plugin removes "host_timescale" and "sv_cheats" for detection, but the strangest thing is that 1.000000 and 1 is not equal for SMAC. So where I have to go for support?

[2016-01-16 19:13] shadow93 commented on #349
Disregard.

[2016-01-16 19:13] #349 closed

[2016-01-16 20:29] naydef commented on #350
Same happened again on my own server, maybe I will go to ask in the SMAC thread!

[2016-01-17 17:52] shadow93 commented on #350
This has been happening to my server as well lately.

[2016-01-17 17:56] shadow93 opened #351 "healthBar variable"
Change:
[code]
to
[code]

Same with:
[code]
to:
[code]

And:
[code]
to:
[code]

You should always be using IsValidEntity instead of healthBar!=-1 / healthBar==-1 or you run the risk of getting spam errors consisting of:
[code]

EDIT: As a matter of fact, every entity check checking for -1 should use IsValidEntity instead.

[2016-01-17 17:58] 50Wliu commented on #350
Fantastic.  Is this a SMAC bug or something FF2 needs to work around?

[2016-01-17 18:36] naydef commented on #351
Exacly the same errors about invalid health bar happened during the SMAC bans on my server.

[2016-01-17 18:37] shadow93 commented on #351
#352 will take care of this.

[2016-01-18 00:11] #351 closed

[2016-01-18 00:11] 50Wliu commented on #351
Fixed by the above PR.

[2016-01-19 16:41] #348 closed

[2016-01-20 01:04] 50Wliu commented on #350
I don't think this is FF2's fault.  SMAC should be checking the server-wide value first before banning players for their value.  I might be able to work around it by using `SetConVarInt` instead of `SetConVarFloat`, but I'd rather SMAC fix it.

[2016-01-21 14:10] shadow93 opened #355 "Damage Tripling for the remainder of 1.10.x's lifespan"
Why not just have the damage tripling be handled externally via sub-plugin (preferably built-in to default_abilities) instead of FF2 itself doing it for the remainder of 1.10.x's lifespan? I've been using this method for several months now, and it works just fine.

Considering damage tripling is already removed in v2.x anyway.

Option 1: Passive
[code]

Option 2: Passive + ability override to disa

[2016-01-21 20:04] naydef commented on #350
This is both FF2 and SMAC fail. The ff2 fault is that the FileExits check make script timeouts prevent the execution of the commands that remove these cvars from checking. The smac fault is that the plugin compares float values using StrEqual. (1.0==1.00000) is true, but StrEqual("1.0", "1.0000000") is not true. This is the error message, but it's from shadow's ff2 fork:
[code]

If there is someth

[2016-01-22 15:39] Dalix opened #356 "ff2_alive doesn't show up if the boss won"
Version: 1.10.9 beta

[2016-01-22 18:59] naydef commented on #350
Another thing I have noticed is during the Ninja spy slow-motion rage, I'm experiencing prediction errors(weapons are clientside-predicted) which can be due to smac_speedhack plugin. The plugin prevents speedhacks(client think that the server's host_timescale is 0.5 but the real value is 1.0. So the clients maybe sends less/more packages over the network)

[2016-01-24 19:09] shadow93 opened #357 "FF2_SetBossSpecial for v2"
Since we have FF2_GetBossSpecial, why not FF2_SetBossSpecial? Could work for bosses that have in their abilities, use a different name while assuming a different form.

A notorious example is the Hyperdimension Neptunia CPUs, which both have a "human" (e.g. Neptune) and a "hdd" form (e.g. Purple Heart).

Or for example, Anakin Skywalker / Darth Vader.

would work like this:
[code]

[code]

[2016-01-24 19:47] shadow93 commented on #224
A new variation done with the help of @naydef. Note that my fork is a heavily modified version of a late 1.10.5 beta that has all of the latest updates so that it is up-to-date with 1.10.9.

[linkname]https://www.youtube.com/watch?v=b548buUziRU

[2016-01-25 02:20] WakaFloockaFlame opened #358 "FF2 1st set abilities error"
I'm going to post This bug error here due to Wiiu not replying to my bug reports. Anyways here's the issue arg 2 doesn't work we still spawn with our loudouts arg 6, 7, 8, 9, and 10 same issue still spawning with loudouts so thats 6 arguments broken argument 8 just completely ignores any attribute i add all default. Thats all the issues for ff2 1st set abilities (and yes i have the latest version

[2016-01-25 14:33] shadow93 commented on #358
Latest version as in which build number?

[2016-01-25 15:31] 50Wliu commented on #358
I responded by saying that no one else can reproduce your bug *except* when on your server.  Transit of Venus can confirm this.  As this is not a bug that globally affects FF2, it is a problem on your end.

[2016-01-25 15:31] #358 closed

[2016-01-26 20:10] shadow93 opened #359 "Spammy "sound_lastman""
Should probably use a global static boolean like you do with DrawGameTimer. Except at the round end, or if a player respawns (upon post-inventory application), it would reset this bool to false.

[code]

In its current state, "sound_lastman" is extremely spammy when a player disconnects / reconnects (this is the case with adding / removing bots). Even though we check their lifestate, it seems to b

[2016-02-01 21:36] #344 closed

[2016-02-02 19:52] shadow93 commented on #344
There is a bug where if the music was changed, it won't stop playing THAT bgm, and will persist until that bgm finishes playing.

Another bug is where the bgm plays multiple times, or loops too soon.

[2016-02-03 11:42] shadow93 opened #360 "Timer-based BGM system..."
It's the timer-based BGM system that's badly flawed from the start.

After doing some more tests, i decided to do my own partial rewrite of the BGM system using Sarysa's float method:

[code]

Moved the music stuff into their own separate stocks:
[code]

I just use a PreThink hook to handle the timing.
[code]

After a series of tests, i haven't experienced any issues with this implementation.

[2016-02-06 20:08] naydef opened #361 ""Be the Robot" plugin compatibility"
There are servers, including own my own server, which have Be the Robot plugin(https://forums.alliedmods.net/showthread.php?t=193067). It's fun to use this plugin, but the boss can use it to change his model to robot or or his class model. This plugin has 3 natives:
[code]
The code can be added to MakeBoss timer:
[code]
or it can be added to Freak Fortress 2 compatibility subplugin for FF2v2.0. Th

[2016-02-06 20:59] 50Wliu commented on #361
Sure, this can be added to ff2_external_integration.

[2016-02-06 21:17] naydef commented on #361
Yes, but the tiny problem is that ff2 can't detect if the player becomes robot. Maybe just will paste this code in some timer to check if the player is a robot and if he is, we will call BeTheRobot_SetRobot(client, false). Anyway, it seems that this plugin is not supported, maybe someone will take over this plugin and add forward. We will see.

[2016-02-11 19:23] tigocesar opened #363 "FF2 "block" some attributes?"
Hi
i'm using version: 1.10.8
On my server , I change some attributes with tf2items . Some, like for my administrators i put Australium weapons. In the first round , when freak doesn't work for expecting some load people, Australium work very well. But when " Start" the freak mod , these weapons don't work anymore , they turn to the "quality" standard ( stock ) . And when I try to do this on my oth

[2016-02-13 21:34] 50Wliu commented on #360
Going to stick with the timer system for the foreseeable future.

[2016-02-13 21:34] #360 closed

[2016-02-13 22:09] 50Wliu commented on #359
I can't reproduce this.  sound_lastman only fires once, even after kicking and re-adding bots.

[2016-02-13 22:09] #359 closed

[2016-02-14 01:51] Deathreus commented on #363
Depending on the weapons, FF2 rewrites attributes on the weapon to balance it, most stock weapons get change, but I believe there's a couple that remain untouched

[2016-02-14 02:57] 50Wliu commented on #363
@Deathreus is correct.  For many weapons the attributes are completely wiped, but for others they're added onto the existing ones.  You will have to edit the FF2 source yourself in order to customize the weapon attributes (sorry!  That'll be improved in v2).  Most of the attributes are set in `TF2Items_OnGiveNamedItem`.

[2016-02-14 02:57] #363 closed

[2016-02-27 02:11] WakaFloockaFlame opened #364 "Sound_Kill playing while Sound_win is playing at the same time"
Sound_kill_(classname) plays the same time as sound_win same goes for sound_hit and wiiu don't start saying bullshit like its only on your server since it doesn't occur on the test server or anyone else's servers. you say that for every issue i report and it's getting annoying so cut it out. It's obviously a FF2 issue so you and the FF2 team please consider fixing it thanks

[2016-02-29 00:27] shadow93 commented on #364
You can just work around this by making a 0.1 second timer that fires, and if CheckRoundState()!=1, return Plugin_Stop.

[2016-02-29 22:28] 50Wliu commented on #364
I keep saying it because it's true, so no, I won't cut it out.  I just tried (again) five times in a row with sounds set to always play instead of a 1/2 + 1/3 chance, and still cannot reproduce.  The test server is open to everyone and the IP address is located on the main FF2 thread.  The least you could do is try to reproduce your bug on there first.

(Tried using commit 6138537474d173cd76b08c23

[2016-02-29 22:28] #364 closed

[2016-03-02 22:42] Deathreus commented on #364
This bug was fixed a looooong time ago, and it actually didn't happen consistently for me on my server, it just occasionally played both, but it hasn't done such a thing since it was fixed

[2016-03-03 15:16] SlimyOp opened #365 "Model Doesnt load in the first round"
idk why the model doesnt loadin the first round :(

[2016-03-04 22:33] 50Wliu commented on #365
@SlimyOp I need more information than that.  Please look at [CONTRIBUTING.md](https://github.com/50DKP/FF2-Official/blob/stable/CONTRIBUTING.md#issues) for inspiration.

[2016-03-04 22:35] 50Wliu commented on #343
Assuming fixed with new BGM code.

[2016-03-04 22:35] #343 closed

[2016-03-04 22:36] 50Wliu commented on #341
@epullay Are you still experiencing this?

[2016-03-04 22:36] 50Wliu commented on #339
No response, closing.

[2016-03-04 22:36] #339 closed

[2016-03-04 22:38] 50Wliu commented on #355
Damage tripling will be staying for the remainder of v1's lifespan, as we're in maintenance-only mode.

[2016-03-04 22:38] #355 closed

[2016-03-04 22:42] 50Wliu commented on #356
Seems like a `PrintToChatAll()` call was deleted by accident.  Whoops...

[2016-03-04 23:04] #356 closed

[2016-03-04 23:05] 50Wliu commented on #356
Thanks for reporting!  Would never have caught this myself.

[2016-03-04 23:12] epullay commented on #341
Sometimes. But models won't load anymore, even if the path is right.

-----Original Message-----
From: "Wliu" <notifications@github.com>
Sent: ‎3/‎4/‎2016 7:36 PM
To: "50DKP/FF2-Official" <FF2-Official@noreply.github.com>
Cc: "Ignacio Raglianti" <ignacio.raglianti@gmail.com>
Subject: Re: [FF2-Official] Server crashes when 2 people join (#341)

@epullay Are you still experiencing this?
—
Reply to t

[2016-03-05 20:23] naydef opened #367 "The issue "Vita-Saw"!"
The Vita-Saw is useless weapon in FF2. There are two attributes, but the positive attribute doesn't work in arena mode(no ubercharge is restored on respawn). Only the negative -10 health attribute works. So the idea is to make this weapon to work similarly to the Ubersaw. 20% ubercharge on hit(the ubersaw gives 25%, but the positive attribute of the Vita-saw says that it only restores 20% uberchar

[2016-03-05 22:38] 50Wliu commented on #367
How about +10% starting ubercharge each round/each uber?

[2016-03-06 07:40] naydef commented on #367
You can, but then you need to add additional code.

[2016-03-07 16:48] WildCard65 commented on #361
AddCommandListener on the command and return Plugin_Handled or Plugin_Stop in the listener callback if caller is boss?

[2016-03-07 16:52] WildCard65 commented on #350
@50Wliu SMAC only checks the CVAR values on replicated cvars with value it grabbed from the server side one at time CVAR was added to it's watch list.

[2016-03-07 17:29] naydef commented on #361
Yes. Don't use Plugin_Stop. Never!

[2016-03-07 17:40] naydef commented on #350
Cvars like ```host_timescale``` and ```sv_cheats``` are by default in the SMAC check list. The problem here is that before the actual commands for removing these cvars are called, FF2 checks if the boss files are on the server using ```FileExist()``` check. But this function needs time to check all the files. For this reason, the Sourcemod Watchdog stop execution of the script and all the code aft

[2016-03-07 17:48] WildCard65 commented on #361
Oh and why is that?

[2016-03-07 17:57] naydef commented on #361
Originally Posted by Naydef

26. Why in sound hook, Plugin_Stop is used instead of Plugin_Handled? I read that Plugin_Handled stop emitting sound, but Plugin_Stop stop emitting sound and stop the hook chain. What does it mean. Does it mean that it's like "for" loop and Plugin_Stop is like break for this loop?

Yes, it is like this (roughly):
Code:
[code]
You should generally never use Plugin_Stop.

[2016-03-07 18:07] Deathreus commented on #361
There's several places you have to use it though, you use it to stop a repeating timer, and you use it in sound hooks to stop the original sound from playing. You can also use it in a select few events and forwards to prevent them from firing.

[2016-03-07 18:08] WildCard65 commented on #361
@naydef I was talking about AddCommandListener, not a sound hook

[2016-03-07 19:50] xNanochip opened #368 "FF2_PreAbility() Issues/More Features"
Quoted from: https://forums.alliedmods.net/showthread.php?p=2289204#post2289204

I posted this long ago, is there any way we could work this out? I'm in dire need of it D:. I looked at the code to see a way to do it: On the FF2_PreAbility() you could create a parameter for each individual element of the ability that enables/disables the hud text, sound, and the actually ability itself.
so somethin

[2016-03-11 21:20] 50Wliu commented on #368
There won't be any further API changes in v1, but blocking the ability should stop *everything*, so I'll look into that.

[2016-03-11 23:36] xNanochip commented on #368
Please and thank you.

On Mar 11, 2016, at 3:20 PM, Wliu <notifications@github.com<mailto:notifications@github.com>> wrote:

There won't be any further API changes in v1, but blocking the ability should stop everything, so I'll look into that.

-
Reply to this email directly or view it on GitHub<https://github.com/50DKP/FF2-Official/issues/368#issuecomment-195559179>.

[2016-03-13 13:48] shadow93 opened #369 "BossInfoTimer"
[code]

Looks like this code has never worked properly. The timer fires, but none of the texts that are supposed to display are displayed. Only seen it work once or twice.

[2016-03-13 16:01] 50Wliu commented on #369
Yeah I'm aware that it's totally broken.

[2016-03-14 22:42] 50Wliu commented on #368
The ability sound should no longer play when the ability has been canceled through `FF2_PreAbility()`.  If you still have problems with this please let me know, as I'm not 100% sure that all the sounds are canceled.

[2016-03-14 22:48] 50Wliu commented on #369
I'm pretty sure the reason this doesn't work is because of this snippet:
[code]
The timer never gets restarted after that.

[2016-03-15 00:21] 50Wliu commented on #369
Upon further inspection the cookie system is complete and utter trash.  This is not how you're supposed to use cookies.

[2016-03-15 17:17] xNanochip commented on #368
Compiled and uploaded to my server, still does the sounds:
https://youtu.be/xqKYFZn7Th0

[2016-03-15 21:52] #369 closed

[2016-03-15 21:52] 50Wliu commented on #369
Solution: don't use cookies.

[2016-03-17 01:26] 50Wliu opened #372 "Fix cookies"
:cookie::question:

The current FF2 cookie structure has one gigantic cookie holding seven individual values in a space-delimited string, three values of which are unused :scream:.  That's horrible and goes against how cookies are supposed to be used (there's a reason the native is `GetClientCookie()`, not `GetClientCookies()`).

The new cookie layout will separate each individual cookie into its

[2016-03-17 01:33] 50Wliu opened #373 "Use Maps instead of Arrays"
This will allow us to get rid of both the `MAXSPECIALS` and `MAXRANDOMS` constants that annoy server owners and boss authors so much (/cc @maximilianrob).  As string maps can grow dynamically, we won't need to set artificial limits.

In addition, maps will pave the way for caching each boss config (#34) so that FF2 doesn't have to do expensive KeyValues traversing whenever it needs to do something

[2016-03-18 08:10] xNanochip commented on #368
I'm pretty sure the rage sound is handled here? https://github.com/50DKP/FF2-Official/blob/stable/addons/sourcemod/scripting/freak_fortress_2.sp#L4760-L4778

If it is, could you just set emitRageSound[boss] to false if the UseAbility is returned as false?

[2016-03-23 15:59] naydef commented on #350
I have idead. Instead of setting back to constant value, let's force cvar replication!

[2016-03-23 16:15] WildCard65 commented on #350
@naydef Still won't work as the cvar value SMAC checks replicated cvars against is the value cached by SMAC at time CVAR was added to internal watch list.

[2016-03-23 18:21] naydef commented on #350
[code]

[2016-03-23 18:25] WildCard65 commented on #350
@naydef Again, STILL WON'T WORK!
[code]

[2016-03-23 18:29] WildCard65 commented on #350
@naydef After looking careful more through smac's cvar source, seems like it'll update the replication value it checks if it changes server side.

[2016-03-28 16:24] WakaFloockaFlame opened #376 "ff2_special confusing players (posted on wrong section sorry)"
Hello Guys, alot of admins use ff2_special to force the next round to be whatever boss they desire and players also like to use !ff2boss to choose their boss for their round and when an admin uses ff2_special that overwrites !ff2boss making the players assume that its broken and 90% players spam this in chat "wtf i choose sonic" "I DIDN'T CHOOSE THIS BOSS WTF" "THE HELL I DON'T WANT TO PLAY SPIDER

[2016-03-28 16:25] 50Wliu commented on #376
I'll look into how other plugins handle this kind of stuff, but this request seems reasonable at first glance.

[2016-03-28 16:26] WakaFloockaFlame commented on #376
ok wiiu I posted it on issues just like you said I'm sorry about posting on pull requests I'm not that good with this github stuff :I

[2016-03-28 18:46] Deathreus commented on #376
@50Wliu It would only interact with the standard boss choosing plugin and Koishi's modified one

[2016-03-29 02:28] shadow93 commented on #376
The preset parameter on FF2_OnSpecialSelected, was done in response to Waka's report about "ff2_special" not overriding the "ff2boss" command.

Quick-fix underway.

[2016-04-05 01:01] WakaFloockaFlame commented on #376
ok so naydef gave me the latest boss preferences which apparently fixes the fact of letting players know that your boss selection has been overidden however there are so many issues it's not even funny issue 1 = u cant use !ff2boss on the arena round (why can't we pre plan for ff2)
issue 2 = boss menu only lasts 30 seconds it should be forever i was looking in my turbo plugin add this somewhere to

[2016-04-05 01:27] 50Wliu commented on #376
Closing as this is no longer an issue with Freak Fortress 2.

[2016-04-05 01:27] #376 closed

[2016-04-05 01:32] 50Wliu opened #377 "Implement ShowActivity"
FF2 is seriously out of spec in this regard when compared to basically any other plugin.  Admin commands should be logged.

Going to try to use `ShowActivityEx` because of its extra tag parameter, but if that doesn't work out `ShowActivity2` will suffice.

Refs #376.

[2016-04-05 01:47] WakaFloockaFlame commented on #376
if u watch the video it clearly is however the author won't even bother fixing it as his coding skills aren't good enough me and some friends can fix this but i'm restoring to the old boss selection thank you for your understanding

[2016-04-05 01:55] shadow93 commented on #376
I love how you keep harassing me as always. Your efforts are futile, but keep doing what you're doing and you're probably going to have a very harsh time.

Also, did you know if you remove the !FF2_IsFF2Enabled() check, that will show the menu during the arena round?

[2016-04-05 02:11] 50Wliu commented on #376
As I previously stated, this is no longer an issue with FF2 and rather with Boss Preferences - please continue the conversation somewhere else.  None of the four bullet points have anything to do with FF2.

[2016-04-09 02:29] shadow93 opened #380 "Boss Attributes on MakeBoss"
[code]

Should add a if(!CheckRoundState()) so that in case third party plugins use TF2_RespawnPlayer or TF2_RegeneratePlayer, it would prevent either from accidentally resetting the boss HP to its starting HP.

[code]

[2016-04-17 23:01] shadow93 opened #382 "Adding support for song info"
Considering how many people tend to ask questions regarding what track is playing for the current boss, would be neat if "sound_bgm" could add 2 more Kv's to allow manually adding tags to show song info.

Something like this:
[code]

This could also be worth a shot:
https://forums.alliedmods.net/showthread.php?t=105816

2nd option would work best if boss themes already has ID3 tags applied, as tha

[2016-04-18 14:28] shadow93 commented on #382
@50Wliu
https://github.com/shadow93/FF2-Official/commit/685a0d6d39e49339ff8ef728dcf6113b558bbbb7

Read the comments on the commit, on how the FF2_OnMusic forward would be updated once song info support is added.

Also, id3 is named that way because it would stand for "ID3 Tags", despite not actually applying them to the actual MP3 file.

[2016-04-25 20:54] 50Wliu commented on #368
After a long hiatus, I'm looking into this again.

[2016-04-25 21:08] 50Wliu commented on #368
@xNanochip The referenced code only runs once when you get 100% rage, and resets only when the ability is successfully used (which shouldn't happen after the referenced commit).

[2016-04-26 02:56] WakaFloockaFlame opened #383 "Sound Issues"
Hello guys I noticed some small bugs in tf2 regarding the sound. Let's start ff2_stop_music means stop the music not play after the 1st song is over thats stupid it should remained stopped until u force the game to play it with a command ff2_start_music the reason for this command is once u do ff2_stop_music it stops the music for people but now you can't start it without doing !ff2music which is

[2016-04-26 16:23] shadow93 commented on #383
Make an if(args) statement, and just check the command arg string for "on" or "off", so players can turn on/off the music with !ff2music on or !ff2music off

[code]

[2016-04-27 03:00] WakaFloockaFlame commented on #383
![image](https://cloud.githubusercontent.com/assets/13375012/14840470/2b727112-0bfa-11e6-893e-1106a04bd805.png)
 that doesn't work here are the errors please provide me with the correct code thanks

[2016-04-27 06:02] Deathreus commented on #383
That is correct

[2016-04-28 01:13] WakaFloockaFlame commented on #383
so the compile errors were something that Wllu or someone in the Contributor list Added on line 2907 on the latest beta that caused the errors these errors appear without the code shown above. Please don't post a broken sp online alot of people like to download the latest version of this plugin and the only way 2 get the latest is on github. Only to find it with compile errors. Me and a friend  ma

[2016-04-28 01:55] 50Wliu commented on #383
There is no guarantee that the latest unstable version will work as expected, and it is not recommended to use the latest commit.  In addition, the latest commit currently compiles successfully, as you can see [here](https://travis-ci.org/50DKP/FF2-Official/jobs/126140876).

Finally, @naydef is neither on the 50DKP nor the FF2 team.  Just a contributor.

[2016-04-28 02:07] WakaFloockaFlame commented on #383
Thats sad any version on github must atleast compile correctly why don't you try changing things for once? There's no point in arguing as you'll never listen anyways do whatever you want with this FF2 i really don't care. I'm sticking with my fork thanks have a good day :)

[2016-04-28 02:20] 50Wliu commented on #383
Where does it say that?  Just curious.

[2016-04-28 16:21] WakaFloockaFlame commented on #383
your the owner of this branch right? If your going to make a commit make sure it still compiles after if there is an error fix it immediately so people wont download a broken version. What u did was left a broken version of ff2 to the public for god knows how long I managed to fix your mistake with ` if(strlen(currentBGM[client]) > 0) ` if you do this again people are not going to install your plu

[2016-04-28 18:08] shadow93 commented on #383
Actually, Wliu's mistake was not putting [0] after the string array:

It should be:
[code]
not
[code]

[2016-04-28 19:42] 50Wliu commented on #383
No, that is not what I did, as 1.10.9 is not released yet.  You are free to use it **at your own risk** as the FF2 and SourceMod license states.

SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.

On the other hand, we're getting off-topic now.  I still haven't read the original issue but I'll try to do that later today and respond.

[2016-04-28 21:10] naydef commented on #383
[code]

[2016-04-28 22:05] WakaFloockaFlame commented on #383
I'm going to figure out how to make this code work properly then i'll post here so you guys can learn and add it because it appears that you sent me the wrong code shadow + your history of posting broken stuff it's obvious you cannot do it and after wllu's mistake with the `if(strlen(currentBGM[client])` > 0)` i believe he doesn't know either thanks for trying to help though shadow but unfortunate

[2016-04-29 00:24] shadow93 commented on #383
First of all, you'd want to ditch the timer-based music system. My ff2_stop_music command, when you stop the music, it literally cuts it off until you manually restart it with with /ff2music on.

[2016-04-29 00:39] Deathreus commented on #383
You never cease to amaze me at how ignorant you are @WakaFloockaFlame, nothing about what he put up is wrong, typing in the command while music is playing will turn it off, and vice versa, and @shadow93 is right, timers are atrocious and can be broken so easily and should be avoided where possible. Things that need to be repeated, and repeated often, should NOT use a timer. There are only a few oc

[2016-04-29 01:12] WakaFloockaFlame commented on #383
you never cease to amaze me how much a tryhard shithead you are Deathreus. O wait y a tryhard? your already a shithead. Besides your completely wrong kiddo as i stated earlier which you should of read. It doesn't work it prints to chat music is now off instead of on wtf kind of code is that? + it doesn't play immediately it plays only after the whole song is over + other issues that conflicted wit

[2016-04-29 01:15] Deathreus commented on #383
I've never stolen any code from anyone, everything in all my abilities I wrote by hand

[2016-04-29 01:19] 50Wliu commented on #383
Calm down.  This is a formal warning @WakaFloockaFlame and @Deathreus.

[2016-04-29 01:20] WakaFloockaFlame commented on #383
https://forums.alliedmods.net/showpost.php?p=2307157&postcount=36 hmm this was posted much earlier then your thread of emitosundtoall not only that in the source of your subplugin is the same code as the 1 i posted earlier so its obvious u simply stole my code from the thread i posted used it in your subplugin
![image](https://cloud.githubusercontent.com/assets/13375012/14906222/8e096382-0d7e-11e6

[2016-04-29 01:21] 50Wliu commented on #383
@WakaFloockaFlame Who is that comment referring to?

[2016-04-29 01:25] WakaFloockaFlame commented on #383
@50Wliu that was a code that emitsoundtoall upon rage from my fork this was much earlier then the date deathrus posted his thread proof. As you can see his subplugin is the same code as my fork

[2016-04-29 02:03] shadow93 commented on #383
![tetlmd2](https://cloud.githubusercontent.com/assets/9245131/14906734/0c795dc2-0d8d-11e6-9bd2-d5cd6bb3912c.png)

[2016-04-29 02:17] WakaFloockaFlame commented on #383
@shadow93 hey shadow guess what i can use photoshop as well
![image](https://cloud.githubusercontent.com/assets/13375012/14906825/a47e922a-0d85-11e6-8f09-f03f62639378.png)
 me and nope.avi still trying to get your face on the model correctly. He's a master in unwrapping texture models i have faith he will be sucessful The model is rigged 100% by me. just the textures are last part also here's a sn

[2016-04-29 19:09] shadow93 commented on #383
You know @WakaFloockaFlame  , you really have a weird obsession with me. Honestly, i could care less if you're gay or not.

You think you're achieving something? I honestly don't give a flying fuck about your sad, miserable life. You're only proving to me that you are a childish, immature brat. You turned 20 a few months ago? That's quite sad.

One thing i will tell you, the more shit you do, the

[2016-04-30 00:42] #372 closed

[2016-04-30 01:08] 50Wliu commented on #383
Not sure why [my commit](https://github.com/50DKP/FF2-Official/commit/9fa745698cc8dd51c1dc5a6f452f9fbb372530a8) isn't referencing this issue properly.  Anyway:

I have read the initial issue and have added the `ff2_start_music` command for symmetry.  I have also fixed the `!currentBGM[client]` issue which @shadow93 (not me) introduced into the codebase.  For future reference you can tell who did i

[2016-04-30 01:08] #383 closed

[2016-04-30 01:17] 50Wliu commented on #383
A code of conduct has been added.  I highly suggest you read it: https://github.com/50DKP/FF2-Official/blob/stable/CODE_OF_CONDUCT.md

[2016-05-03 15:28] shadow93 opened #387 "v2 FF2_OnMusic"
Considering v2 would be a completely different beast, would be a better idea if the forward was updated so it can be changed on a per-client basis.

something like (with the manual tag update):

[code]

or (without manual tag update):
[code]

Useful for some rage abilities where the affected victim's music can be changed while not affecting the unaffected victims since the current forward affects

[2016-05-04 02:50] 50Wliu opened #388 "Investigate invalid client errors from ff2_1st_set_abilities"
Noticed a few of these in the test server logs but never had time to see where they were coming from.  Creating this issue so that I don't forget before 1.10.9.

[2016-05-04 17:21] Deathreus commented on #388
The only errors I get are my own fuckups, and there's not many places in that that would throw an invalid client

Line number?

[2016-05-04 19:59] shadow93 commented on #388
Surprised you've not used IsValidClient on any of the ability plugins.

Also, according to nergal, it's more efficient to use:
[code]
than
[code]

[2016-05-04 20:37] Deathreus commented on #388
Don't see how, they are exactly the same thing, just the first goes in reverse

[2016-05-04 20:40] shadow93 commented on #388
because
[code]
Pretty much while the loop is ongoing, it's always checking what the MaxClients value is, while
[code]
You already start with the MaxClients value, only checking if client is greater than 0.

[2016-05-04 23:42] Deathreus commented on #388
Now I see, didn't think about that

[2016-05-05 20:20] 50Wliu commented on #388
[code]

Easy fix.  Will do so later tonight.

[2016-05-05 20:30] 50Wliu commented on #368
Cannot reproduce and no response, so closing.

[2016-05-05 20:30] #368 closed

[2016-05-05 20:32] #388 closed

[2016-05-06 02:38] Deathreus commented on #388
Overlooked it was doing for(new client; ...), how long has that been like that? Did someone miss that or not know integers are instigated with a value of 0?

[2016-05-06 02:46] 50Wliu commented on #388
I went through a phase a while back where I preferred not initializing the integers so it would look a bit cleaner.  One extra loop really doesn't matter performance-wise.  Normally this was not the problem since IsValidClient() would ignore the 0 index, but none of the ability plugins use that.  So now I've slowly been going back and adding `=1` to client-related loops.

[2016-05-06 03:52] WakaFloockaFlame opened #389 "YOU BETTER ADD THIS TO 1.10.9! (From My Fork)"
Alot Of People love to test rages they can but unfortunately it takes a while they need to walk all the way to red team and get hurt and build up rage until it's 100% thats kinda pathetic just to test a rage. However Thats when my Sucky Coding skills come to rescue. Extremely Useful Command + When 1.11 comes out i don't have to transfer more codes back to my fork since hopefully Wliu will add it t

[2016-05-06 03:58] Deathreus commented on #388
Ah, I see

[2016-05-06 04:11] Deathreus commented on #389
I actually made something a long time ago that's alot cleaner that has both the ability to give rage and heal the boss to full, I can't remember if I ever put it out

I also had experimental commands that I never got around to testing that set a boss's lives and his max lives

[2016-05-06 04:30] WakaFloockaFlame commented on #389
@Deathreus How is it pointless when it works fine you trying to create more work?

[2016-05-06 08:59] naydef commented on #389
The rage code is inside the voicecommand callback. Needs its own function. Also do you know that ff2 itself use this code to force bots to rage. Example on line 4976-4982:

[2016-05-06 16:30] WakaFloockaFlame commented on #389
you want me to add the r key support function for the timer_botrage to?

[2016-05-06 16:31] naydef commented on #389
No. I say that the rage code needs its own function, like ```UseRage(boss)```or sth like that

[2016-05-06 17:26] Deathreus commented on #389
It's pointless because you can just fire the voicemenu callback

[2016-05-06 20:18] 50Wliu commented on #389
Just make it a subplugin.  No more features are being added in v1 (ff2_start_music was an exception because it was adding missing behavior.  This is not missing behavior.).

[2016-05-06 20:18] #389 closed

[2016-05-06 22:31] WakaFloockaFlame commented on #389
may i ask y? no more features are being added to V1 This command is really useful for testing purposes all it's going to do is make FF2 even better? Also whats FF2 V 2.0.0 is exactly? someone elaborate

[2016-05-06 22:44] 50Wliu commented on #389
No more features are being added to combat software bloat and to improve future maintainability.
FF2 2.0.0 is an upcoming somewhat-rewrite of FF2 to make it easier to maintain and more customizable.

[2016-05-06 23:25] WakaFloockaFlame commented on #389
FF2 is already More customizable what more do u want? I mean seriously whats left? other then bug fixes? and updates ruining things? Elaborate a bit more or give an example something cause atm 2.0.0 still doesn't make sense to me

[2016-05-06 23:33] ChrisMiuchiz commented on #389
Old 50DKP FF2 dev here. Your tone is rude and demanding, and I personally think your contribution is bad, because if you're an admin, you should already know what your bosses do and have the tools to do anything else you need. Wliu does not have to comply with your requests, and you're overestimating your privileges and significance by assuming so.